[2019-11-13 23:14] mattbailey opened #2 "gopls "reply not invoked with a valid call""
Set my entire Neovim config to:

[code]

I get this error when opening a Go source file:

[code]

This error (as far as I can tell) comes from: https://github.com/go-language-server/jsonrpc2/blob/master/jsonrpc2.go#L334

Setting `root_dir` to the project dir has no effect.

Running gopls with verbose and logging:

[code]

Just writes an empty log.

Other details:

[code]

Working coc.nvim config,

[2019-11-14 20:50] peterpme opened #6 "Reason Language Server"
Hey there,

I'd like to get [Reason](https://reasonml.github.io/) language server in here as well - are there steps I should follow besides looking at the current PR?

https://github.com/jaredly/reason-language-server

Thanks!

[2019-11-14 20:54] norcalli commented on #6
If you have experience with the LSP, then use your best judgement to come up with defaults for the LSP.

Things to consider:

- root_dir pattern
- available settings for configuration
- offset_encoding
- commands to add support for
- Installation instructions or usage notes

For all of those things, there's an existing server which can be looked at for an example of how you could do it, so look at

[2019-11-15 03:24] NullVoxPopuli opened #12 "What about coc-nvim?"
What are this project's goals, and how do they differ from https://github.com/neoclide/coc.nvim ?
Will any of the got plugins be useable with whatever this approach is?

[2019-11-15 04:07] justinmk commented on #12
This repo is a collection of configs.

Goal of Nvim LSP support is a best-effort reasonable LSP client with a well designed Lua API.

Users can continue to use whatever they want.

Assuming "got" means "coc"... No.

[2019-11-15 04:07] #12 closed

[2019-11-15 11:40] DarkDefender opened #13 "General configuration example"
I have gotten the clangd backend working.

However, I have not idea how to make it work like in the example video you posted on reddit: https://v.redd.it/lfi72durjay31

Perhaps this is not the place for it, but I would think that it handy to have a example config that shows how to turn on all the bells and whistles of the LSP client.

For example the automatic popups on hover and so on.

EDIT: I d

[2019-11-16 01:47] norcalli commented on #13
FYI, I wasn't auto popping up hover or anything. I was just pressing a key combination. If you wanted to do hover on idle, you could do `autocmd CursorHold <buffer> call lsp#text_document_hover()` or something similar, but that's not how I like to do things.

The reason why things may seem different in that video is that, as the writer of the LSP PR and a general Lua pro, I personalized my own con

[2019-11-16 01:51] norcalli commented on #13
However, we do want to make a general configuration and better examples, btw. The caveat is that, in my opinion/expectation, if you're using the LSP client right now, it's because you're an intermediate to advanced vim user who wants to try things sooner.

Those are the users who will help us test and improve things and potentially contribute fixes. Otherwise, everything is going to improve at the

[2019-11-16 11:21] draganczukp opened #20 "E5105: Error when calling lua chunk"
I just installed `nvim-lsp` using `vim-plug` and I get this error:
[code]

System info:

OS: Archlinux, updated this morning
[code]
`vim-plug` is up-to-date, according to `PlugUpgrade`
Lua version (`lua -v`): `Lua 5.3.5  Copyright (C) 1994-2018 Lua.org, PUC-Rio`

[2019-11-16 11:46] justinmk commented on #20
requires Nvim 0.5, mentioned in the readme

[2019-11-16 11:46] #20 closed

[2019-11-17 00:06] justinmk opened #23 "problems with clangd 7"
(For reference, so others can find this)

[code]

With the default clangd config from nvim-lsp:

[code]

That can be fixed by overriding `cmd`:

[code]

Also note that Neovim puts `build/compile_commands.json` in "build" directory, so the `root_dir` is overridden there.

If I try to complete something in `eval.c`, this is the log result:

[code]

[2019-11-17 00:35] justinmk commented on #23
Seems to work with clangd version 8 (which supports `--background-index`).

We need an easy way for users to check the "status" of LSP.

[2019-11-17 16:52] norcalli opened #25 "Add support for settings schema from VSCode package.json"
https://github.com/rust-lang/rls-vscode/blob/master/package.json
https://github.com/lampepfl/dotty/blob/master/vscode-dotty/package.json
https://github.com/mauve/vscode-terraform/blob/master/package.json

There is a very simple part of the existing VSCode extensions that we can automatically adopt by parsing `contributes.configuration`. There are other sections that we can get as well.

I'm consid

[2019-11-17 16:56] norcalli opened #26 "Windows installation scripts"
I want to add support for auto windows installation, but I'm not exactly sure what the existing procedure is for most of the servers.

The basic neovim installation procedure is that we provide a directory on `stdpath("cache")/nvim_lsp/$server` where you can download files and put binaries that can be used from the `setup()` function if it is installed. This means that all installation should be *

[2019-11-17 16:57] norcalli commented on #23
We could add an automatic check for clangd version on startup. This is something that I've been considering separately, which is that when a user uses our setup function, it doesn't check if you have the binary available. That means it will error when you try to use it.

We could, in `on_new_setup()`, check the clangd version and provide a more valuable error or change the arguments we pass.

[2019-11-17 16:58] norcalli commented on #23
I was told by bfredl, though, that clangd 9 was the only one to have fixed most LSP things, though. I agree, we should put it in the docs that clangd 9 is required/recommended.

[2019-11-17 20:23] norcalli commented on #25
Implemented in #29

[2019-11-17 22:44] ilAYAli opened #34 "c++ completion for member functions not working"
nvim ver: NVIM v0.5.0-161-g18096631b

* how to reproduce:
`mkdir -p /tmp/issue && cd /tmp/issue/`
`git clone https://github.com/neovim/nvim-lsp/`

minimal.init:
[code]

`cat > /tmp/issue/foo.cpp`
[code]

CMakeLists.txt
[code]

`cmake . && make`
`nvim -u minimal.init foo.cpp`

observe that omni-completion for s. returns
`Omni completion (^O^N^P) Pattern not found`

[2019-11-17 22:56] norcalli commented on #34
Did you have `compile_commands.json` in there as well? Without that it definitely won't work.

It would also be prudent to run `vim.lsp.buf_print_debug_info()` while you're editing the foo.cpp file and see if that shows that `ccls` is running.

[2019-11-17 22:57] ilAYAli commented on #34
`set (CMAKE_EXPORT_COMPILE_COMMANDS ON)`

[2019-11-17 23:01] ilAYAli commented on #34
`lua vim.lsp.buf_print_debug_info()`

[code]

[2019-11-17 23:06] norcalli commented on #34
Last thing I would suggest is to print the path of the log file and change the log level to debug to see what's going on. Specifically, look for the response for `textDocument/completion`

in your init.vim:

[code]

And to find the log file `:lua print(vim.lsp.get_log_path())`

[2019-11-17 23:11] ilAYAli commented on #34
[code]

[2019-11-17 23:13] clason commented on #34
Also, try setting `:set omnifunc=lsp#complete` manually after opening the buffer in neovim. (It doesn't work from init.vim for me, either, but then I'm not really using using LSP for omnicomplete.)

[2019-11-17 23:28] ilAYAli commented on #34
@clason thanks for the suggestion, but it did not make any difference

[2019-11-17 23:39] norcalli commented on #34
@ilAYAli I meant that you should do some actions as well like completion and then see the log output including the debug stuff. I'm guessing you didn't set debug level.

Also it looks like you're using clang 7.0.1 which it states in the README is not recommended for this. Use clang 9

[2019-11-18 03:39] justinmk commented on #23
After installing latest Nvim and nvim-lsp, and restarting Nvim, omnicompletion works now. Yay!

[2019-11-18 03:39] #23 closed

[2019-11-18 06:19] ilAYAli commented on #34
[code]

[2019-11-18 06:30] ilAYAli commented on #34
This is the only `textDocument/completion` message that is logged after setting `lua vim.lsp.set_log_level("debug")` and performing omni completion.

grep -i "textdocument/completion" ~/.local/share/nvim/vim-lsp.log
[code]

[2019-11-18 07:35] justinmk commented on #34
Sure, but the suspicious thing is this line in your logs:

    [ ERROR ] 2019-11-18T00:10:22Z+0100 ]  ... use -resource-dir=/usr/lib64/clang/7.0.1 ...

FWIW, I had similar symptoms in https://github.com/neovim/nvim-lsp/issues/23 which went away after updating to HEAD of nvim and nvim-lsp.

My logs show:

    -resource-dir=/usr/lib/llvm-8/bin/../lib/clang/8.0.0

If your logs are still showing clang

[2019-11-18 08:05] ilAYAli commented on #34
@justinmk yes, I noticed the clang 7 reference too, but don't know why the incorrect libraries are picked up.

I installed the latest version of `nvim-lsp` and `nvim` from master, and can still reproduce.
`NVIM v0.5.0-172-g1ff5b60cb`

[code]
I agree that the clang 7 might be problematic (however, I don't know why the above version isn't picked up). Also, as previously mentioned, `CoC` works on wit

[2019-11-18 08:09] ilAYAli commented on #34
I also reproduced on my Mac, with:
`NVIM v0.5.0-172-g1ff5b60cb`

[code]

[code]

[2019-11-18 08:10] binaryplease commented on #20
@draganczukp Did you solve this for you on arch? I'm running arch aswell and wanting to try this plugin, unsure whether to wait for a update to the arch package

[2019-11-18 08:18] draganczukp commented on #20
Yes. Switching to neovim-nightly fixes this and neovim seems to run stable enough.

[2019-11-18 08:43] ilAYAli commented on #34
I even installed- and verified the problem with `https://github.com/neovim/neovim/releases/download/nightly/nvim-linux64.tar.gz` to verify that it is not related to my build of `nvim`

[2019-11-18 09:11] ilAYAli commented on #34
This is really as isolated and simple as I can reproduce the issue

runme.sh
[code]

[2019-11-19 17:08] jdhao opened #35 "Can not make auto-completion for python work"
I am using the latest version of neovim which supports lsp.

I have installed nvim-lsp using vim-plug. I have also installed the python-language server and the jedi package.

I followed the config [here](https://www.reddit.com/r/neovim/comments/dx098o/github_neovimnvimlsp_common_configurations_for/f7n3ce1?utm_source=share&utm_medium=web2x) and add the following to init.vim:

[code]

Then I start n

[2019-11-19 17:22] rektrex commented on #35
Neovim's built-in lsp exposes completion for omnicomplete. You can set omnifunc to use it: `set omnifunc=lsp#omnifunc`.
Omnifunc is not autocomplete though, you need to trigger completions using `<C-x><C-o>` in insert mode.

[2019-11-19 17:41] jdhao commented on #35
@rektrex  Thanks for your kind help. It works now. For anyone interested, my minimal working config is:

[code]

But I have noticed that after pressing <c-x><c-o>, nvim is slow to respond and the number of completion item in the popup menu may be so much to hang neovim for a few seconds even on my powerful Macbook Pro (16G ROM and  512 G SSD). The experience is far from satisfactory compared to de

[2019-11-19 18:05] norcalli commented on #35
@jdhao it's being actively worked on. If you're familiar with lua, you could write write a source for deoplete yourself.

[2019-11-19 18:05] #35 closed

[2019-11-20 03:13] h-michael commented on #35
@jdhao I plan to deal with dealo-lsp around this weekend.

[2019-11-20 07:29] ilAYAli commented on #34
I debugged this further, and found out that @clason's suggestion did indeed work around the problem,  but it seems that `:set omnifunc=lsp#complete` has to be set after lsp has been initialized

So, modifying the above command to also delay setting omnifunc "fixes" it.
`nvim -u minimal.init foo.cpp -c 'sleep 3 | :set omnifunc=lsp#complete | :call feedkeys("6ggOs\.\<C-x>\<C-o>")'`

[2019-11-20 08:35] justinmk commented on #34
Ok, that's just normal Vim config stuff (though I agree it's a gotcha). We can put it in the README.md of this repo for now.

[2019-11-20 09:08] ilAYAli commented on #34
@justinmk It certainly wasn't obvious that this was a needed, so documenting it is a good idea.
However, I think that this legitimatizes a fix, as people expect configuration compatibility.

[2019-11-20 13:09] vaijab commented on #2
I have got exact same problem. Using neovim with built-in lsp api.

[2019-11-20 15:22] yangyangxcf opened #39 "`set -o pipefail` fails in ubuntu"
`sh` on Ubuntu points to `/bin/dash`, which has no `-o` option and fails all `LspInstall` commands.

[2019-11-20 18:41] norcalli commented on #39
:( Of course, there are non-POSIX `sh` out there. The shell script requirement was a temporary measure anyway. I've been trying to clean up pure Lua solution, so instead of trying to go down the road of customizing for each distro, we'll probably just do that first (unless someone wants to contribute a solution).

[2019-11-20 18:54] norcalli commented on #34
@ilAYAli There's no reason that setting `lsp#omnifunc` before the buffer should be a problem.

Reading back over the comments, though, I do see a few things that could be the problem:

1. In your initial comment, your minimal.vim uses `setl` instead of `set`, which would be incorrect. It would only set omnifunc for your `minimal.vim` file while it's being sourced.
2. Assuming that 1. wasn't the so

[2019-11-20 19:46] lithammer commented on #39
Just remove the `-o pipefail` option, there's no piping involved anyway as far as I can tell.

[2019-11-20 19:52] norcalli commented on #39
@lithammer true. I just used my sane defaults, but we aren't piping. `-euf` is still available in dash.

[2019-11-20 19:53] justinmk commented on #34
People may have ftplugins or FileType handlers that set it (it's a common snippet recommended in the help IIRC, and people forget about it), then the init.vim global setting gets overridden.

[2019-11-20 21:18] dbalatero opened #41 "Internal private language server at work"
Hi, I have a language server that is private and internal at work, and not open-source.

Is there a straightforward way I can create a definition in my private files and load it into `nvim-lsp` all the same, so I don't have to contribute to this repo and leak internal information? Thanks!

[2019-11-20 21:53] ilAYAli commented on #34
@ilAYAli There's no reason that setting lsp#omnifunc before the buffer should be a problem.
it obviously is, or I wouldn't have made this issue.

@norcalli if you look at the script above,
1) I use `set` not `setl` in `minimal.init`
2) I didn't use _any_ plugins except `nvim-lsp`, I even used `set runtimepath^=$DIR/nvim-lsp/` to only have a _single_ dependency.
3) I did not put much thought or eff

[2019-11-20 21:59] suessflorian commented on #2
Perhaps this issue is better positioned on the Neovim repository given that this seems to be an issue unrelated to nvim-lsp.

[2019-11-21 01:04] st3fan commented on #2
I got some more detailed logging out of gopls:

[Trace - 20:01:50.050 PM] Sending request 'initialize - (1)'.
Params: {"rootUri": "file:///Users/stefan/tmp/hello", "capabilities": {"workspace": {"configuration": true}, "textDocument": {"references": {"dynamicRegistration": false}, "completion": {"completionItem": {"snippetSupport": false, "commitCharactersSupport": false, "preselectSupport": false

[2019-11-21 05:03] norcalli commented on #41
Yes indeed, you can. I do this for testing my own implementations before adding them:

[code]

Basically, just require `nvim_lsp/skeleton` and do the same as we do if we were adding it to the repository itself.

Note that adding the definition to the skeleton and doing `.setup()` are two different steps.

[2019-11-21 05:06] norcalli opened #44 "Switch root patterns to `or os_homedir()` by default?"
I realized something from some recent PRs, which is that if you want to allow a Language Server for single files not in a project, we can just return homedir, and use the root_pattern/existing mechanism for everything else.

Basically, we should probably do this for most/all servers:

[code]

Where single files will use the homedir instance of the client.

[2019-11-21 14:07] st3fan commented on #2
I promised @norcalli a two minute guide on how to get a Go test environment going in a local directory, so here we go:

[code]

You are all setup now, with `go` and `gopls` in your `PATH` and you should be able to simply `nvim main.go` to see it in action.

To get verbose/tracing output from `gopls`, use something like:

[code]

[2019-11-21 14:56] pwntester opened #45 "Is it possible to intercept and modify requests/responses?"
Not sure how to extend LSP for server oddities. This is something required in order to support servers such as eclipse jdt for java. In vim-lsc this can be accomplished with hooks (https://github.com/natebosch/vim-lsc/blob/master/doc/lsc.txt#L446-L492). Is there anything similar in neovim implementation that we can use and configure here?

Thanks

[2019-11-21 14:57] st3fan commented on #2
Yes, most likely. Looking at the trace, it seems gopls is setup correctly and has a good idea of the Go project. Messages are going back & forth, it just doesn't agree about one of them it seems? I agree that is most likely more a core LSP issue.

Since the LSP support in Neovim obviously works well with other servers, I'll try to find someone on the Go team who can take a peek at the trace.

[2019-11-21 14:59] st3fan commented on #2
Asking @stamblerre to take a peek at this issue - hoping we can get a hint about the `reply not invoked with a valid call` message that we get back from `gopls`.

[2019-11-21 18:07] norcalli commented on #45
@pwntester for that, you'll want to see the original `:h lsp.txt` docs, but the answer is yes. I designed it to be able to customize it to the nth degree.

It would help if you were more specific in what customization you were trying to achieve so that I can give you a more specific answer.

[2019-11-21 18:10] #39 closed

[2019-11-21 18:22] pwntester commented on #45
Thanks for the quick answer, I actually use vim-lsc hooks in the following two cases:

- Java eclipse JDT (see my comment here https://github.com/neovim/nvim-lsp/pull/22#issuecomment-557130911)
In short, JDT use custom commands that need to be changed to conform with the spec. In particular I need to change response to `textDocument/codeAction` so that `java.apply.workspaceEdit` is replaced with `

[2019-11-21 18:34] norcalli commented on #45
Generally, you'd want to consult the `:h lsp.txt` docs to see the notes on `start_client(config)`, which is the main entrypoint for making clients and the thing which the skeletons here generate based on root_dirs and can be modified after encountering a new root_dir but before it goes to `start_client()` via `on_new_config(config)`. In there, you can modify the configuration before it is used to

[2019-11-21 18:38] norcalli commented on #45
I'll see about adding the option to `start_client`. I'd probably do something like `before_initialization = function(initialize_params)` which will let you do various things right before you initialize like modifying the initialize_params.

[2019-11-21 18:48] norcalli commented on #39
@yangyangxcf a fix for this was pushed (accidentally to master) which removed pipefail as an option. I would recommend updating.

[2019-11-21 19:08] pwntester commented on #45
Thanks, I gave `callbacks` a try but Im probably doing something wrong since Im not able to hijack `publishDiagnostics` message. I tried something along the lines:

[code]

But I still get the diagnostics shown and no messaged echoed so it seems my callback was not called.

[2019-11-21 19:08] pwntester commented on #45
Oh, I just read this in the docs:

[code]

So seems I will need to take the lua road after all ...

[2019-11-21 19:09] norcalli commented on #45
@pwntester Yes, all roads lead to Lua. :P

[2019-11-21 20:52] seankhliao commented on #2
Not too familiar with lsp but I did some digging and it looks like gopls expects `initialized` params to be an (empty) object `{}` and not an (empty) array `[]`

[2019-11-21 20:52] norcalli commented on #2
@seankhliao Oh if that's the case then it's fixed in the LSP follow up PR I made. https://github.com/neovim/neovim/pull/11430.

[2019-11-21 21:47] norcalli commented on #2
@everyone I can confirm that the new LSP followup fixes `gopls`.

[2019-11-21 21:52] st3fan commented on #2
@norcalli Fantastic - I'll give it a try when it lands!

[2019-11-22 00:04] norcalli commented on #45
@pwntester added `before_init` in https://github.com/neovim/neovim/pull/11430

[2019-11-22 01:50] dbalatero commented on #41
Thank you!!

On Wed, Nov 20, 2019 at 9:04 PM Ashkan Kiani <notifications@github.com>
wrote:

[2019-11-22 05:57] #41 closed

[2019-11-22 13:06] pwntester commented on #45
Awesome, thank you! I think codeActions support is the only missing piece for my setup

[2019-11-23 09:33] norcalli commented on #25
Follow up in #49. Adds the ability to scrape the vspackage itself from microsoft directly, which is more accurate. We should prefer that in the future.

[2019-11-24 19:38] mcepl opened #50 "LspInstall hates me (no pyls)"
So, when you removed ``lsp#add_filetype_config()`` and made the general configuration impossible to use (and removed all examples from ``:he lsp.txt``), I admit defeat and I pull in this plugin to the so-called “built-in” LSP client.

What should I do? Right, there is that awesome ``:LspInstall`` command:
[code]
OK, no luck with ``pyls`` (because of course ``bashls`` is a way more important than w

[2019-11-24 20:24] bfredl commented on #50
@mcepl This is not how open source works. This just means someone cared enough about bashls to contribute the code already. If pyls in `LspInstall` is important to you, you are free to make a PR for it :)

[2019-11-24 21:21] mcepl commented on #50
Sure, I was just suprised that ``LspInstall`` was not able to find “pyls” configuration, when the plugin is there, but no I am too lazy to debug it properly. But malfunctioning ``LspInstall`` is just a nit, I have been much more disappointed by removing perfectly working configuration method and replacing it with something so complex and baroque that mere humans are not able to do it and we need t

[2019-11-24 21:38] clason commented on #50
@mcepl `LspInstall` is a convenience function to install the *server* from neovim in case it is not installed already. Since `pyls` is just a `pip` away (and messing with `venv` is iffy), this was not a high priority. If the server is already installed in your system (say, using `zypper`), `call nvim_lsp#setup("pyls", {})` is indeed the correct and suggested way of enabling it.

(And some expectat

[2019-11-24 21:44] bfredl commented on #50
@mcepl But the reason nvim-lsp is more complex is that supporting all these servers _is_ intrinsically complex. By our own definition, vscode doesn't have “built-in LSP", because many servers expect you to install a vscode-LANG plugin which configures the server properly. The only difference is that we are bundling all these configs with in a _single_ plugin/repo.

Also please be a bit patient, th

[2019-11-24 22:11] mcepl commented on #50
Well, I used to have this in my ``$VIMRC``:

[code]

(even with some optional paramters) and it worked pretty fine. Now I would have to apparently put basically whole ``https://github.com/neovim/nvim-lsp/blob/master/lua/nvim_lsp/skeleton.lua`` in my ``$VIMRC``. How else should I call it than worsening of the situation?

If you are measuring neovim with the monstrosity like VSCode, you lost. Is tha

[2019-11-24 22:14] norcalli commented on #50
@mcepl I also remember you as the person who repeatedly complained about `completion` not working, and yet you haven't even attempted to help me with implementing it. Just in case you're not aware, this entire repo (save for a few PRs which I'm very thankful for) and all of the LSP work is being done by exactly 1 person, which is me.

By virtue of creating this issue, you must have updated master

[2019-11-24 22:17] bfredl commented on #50
But LSP is "vscode remote plugin" but _moderately_ changed/improved to be editor general protocol. I am afraid we cannot undo reality (maybe we can make our own protocol, soon...). making things magically work for any server without code for that server is not our ideal, because it is not possible.

you can create this effect yourself already by keeping both repos in sync, like you do now

[2019-11-24 22:25] mcepl commented on #50
I am perfectly aware (and very thankful) that you are the person who finally made LSP pull request merged.

Is reporting a bug suddenly “complaining”? I have mentioned the issue in https://github.com/neovim/neovim/issues/11389 just so it is not forgotten, but I have tried never to bother you about it.

Perhaps in this situation I was complaining that something which worked doesn’t work anymore. Ye

[2019-11-24 22:25] #50 closed

[2019-11-24 23:16] st3fan commented on #2
Just a heads up that neovim/neovim#11430 was merged today. The `gopls` integration works well now. Thank you @norcalli this is great.

I am playing with this on macOS, and I install the latest Neovim either with `brew install neovim --HEAD` or `brew reinstall neovim` after that. It is pretty easy to stay up to date.

Don't forget to also update plugins from within Neovim.

I am not sure how to pro

[2019-11-26 09:17] lithammer commented on #2
Would be nice with an option to only run diagnostics in normal mode, i.e. when leaving insert mode or when making text changes in normal mode. Some LSP servers are quite heavy (e.g. RLS) and running them continuously will be a huge battery drain and resource hog.

But maybe this is a neovim issue/feature, rather than nvim-lsp.

[2019-11-26 09:17] lithammer commented on #2
Also, I guess this can be closed now...?

[2019-11-26 09:20] norcalli commented on #2
@st3fan @lithammer that kind of thing can be addressed here. The thing about the diagnostics callback is that it's incredibly simple, meaning that anyone could customize it to their preference as long as the easy utility functions are available. This is the entire function:

[code]

Meaning that if you wanted to control when diagnostics were displayed, or add a debounce or timeout for them, then y

[2019-11-26 09:23] #2 closed

[2019-11-26 17:05] st3fan commented on #44
I am not sure if this is a good alternative default. What if the language server starts scanning the whole contents of your home directory recursively?

[2019-11-26 20:23] ahmedelgabri opened #55 "Microsoft Python Language Server"
Will be great if https://github.com/microsoft/python-language-server is also supported

[2019-11-26 20:53] mjlbach commented on #55
I tried working on this, I could get the server to start from the skeleton, but was failing to get any diagnostics/completion.

Here are some relevant implementations:
* emacs: [lsp-python-ms](https://github.com/emacs-lsp/lsp-python-ms/blob/master/lsp-python-ms.el)
* vim [coc-python](https://github.com/neoclide/coc-python) which wraps a fork of the vscode python plugin
* sublime [official mpls rep

[2019-11-27 08:38] mjlbach commented on #55
See #57

[2019-11-28 04:58] justinmk commented on #45
@pwntester are you waiting on a change in nvim or nvim-lsp, or can we close this?

The Vimscript wrappers are going to be removed. It's easy to use Lua from Vimscript, see `:help lua-heredoc`.

[2019-11-28 08:40] Stanislav-Lapata opened #58 "Elixir Language Server"
Planning to add https://github.com/elixir-lsp/elixir-ls?

[2019-11-28 08:45] norcalli commented on #58
Only if someone makes a PR. I did the languages I used.

[2019-11-28 08:47] mikker commented on #41
How would this look in vimscript?

[2019-11-28 08:53] Stanislav-Lapata commented on #58
@norcalli Thanks for the quick response

[2019-11-28 09:08] justinmk commented on #41
@mikker The same. Lua is easy to use from Vimscript. See `:help lua-heredoc`.

[2019-11-28 09:09] #58 closed

[2019-11-28 09:16] pwntester commented on #45
Thanks for the hint, I had some trouble finding out how to use lua from vim

Yep, this issue can be closed, thanks!

Using lua I was able to extend built-in support to do the following:

- add signs to sign column for diagnostics
- expose diagnostic counts with a global function so they can be showed in the status bar
- expose LSP server readyness with a global function so they can be showed in th

[2019-11-28 22:16] justinmk commented on #45
That's great! We are eager to add sample code to the docs, so please share those in a separate issue.

`sign_define` is an editor function, so it is exposed to Lua via `vim.fn` . Where `vim.api` exposes the Nvim API. See also `:help vim.fn` .

good idea, can you create a separate issue for that.

Something like `lsp.on_response(handled)` which is `nil` by default, otherwise all server => client re

[2019-11-28 22:16] #45 closed

[2019-11-28 23:12] pwntester commented on #45
thanks! that also helped me with missing `has`, `exists`, etc.. :)

As for opening issues for docs, catch-all handler and WinResized, should I open them in the neovim repo or here?

[2019-11-28 23:49] justinmk commented on #45
Most of those might belong in the core repo. We can always transfer if not.

[2019-11-29 06:34] mjlbach commented on #44
I think this is an issue with the microsoft python language server, I'm currently using nvim_lsp.util.find_git_ancestor(fname) or vim.loop.os_homedir() which fails if the file isn't in a git repo

[2019-11-29 06:37] justinmk commented on #44
@mjlbach you can set `root_dir` as needed though, right? Or what are you suggesting?

[2019-11-29 06:41] mjlbach commented on #44
Yes. Just giving an example of a language server that this doesn't work for as a default

[2019-11-29 06:48] justinmk commented on #44
Ok, we definitely don't want silent failures. That's the most frustrating part of any LSP client :)

[2019-11-29 15:39] pwntester commented on #45
will do, thanks

last question about lua interoperability. how can I pass a lua callback to a command run with nvim_command? Im trying something like:
[code]
but lua function codeactions_callback is never called

also, Im converting a lua table (list) to a string (`str_list`) with:

[code]

Is there any any way of invoking a vimL function with a lua object as argument (in this case a table)?

Than

[2019-11-30 10:12] ilAYAli commented on #34
I guess the updated `:h lsp-omnifunc` is makes this less of an issue:
_autocmd Filetype python setl omnifunc=v:lua.vim.lsp.omnifunc_

[2019-11-30 10:12] #34 closed

[2019-12-01 11:41] norcalli commented on #44
Ok so we can evaluate this on an LSP by LSP basis. Some languages are more commonly used for one-off files, and so it can be assumed those LSPs are better equipped to handle the default. We'll conservatively add it if it can be demonstrated to be useful and leave this issue for something to point to to explain how to handle files which are not "in a root_pattern".

[2019-12-02 01:29] #55 closed

[2019-12-02 01:30] justinmk commented on #6
Send a PR. See other PRs for examples.

[2019-12-02 01:30] #6 closed

[2019-12-03 07:42] suessflorian opened #60 "Permission denied issues while using gopls"
I'm having issues going to definition (`vim.lsp.buf.definition()`) while inside go mod installed packages.

[code]

Note; these issues completely resolve themselves when nvim is fired in sudo.

[2019-12-03 07:53] justinmk commented on #60
source code is here: https://github.com/neovim/nvim-lsp/blob/master/lua/nvim_lsp/gopls.lua

We don't support every system/configuration/environment, we just provide best-effort configs to get started. PR welcome if you find a problem.

[2019-12-03 07:53] #60 closed

[2019-12-08 09:10] justinmk opened #63 "setup() on_attach signature"
doc for `setup()` mentions:

The fact that the doc feels the need to mention "This is different from ..." is a strong hint that it shouldn't be different. One or the other should be changed.

[2019-12-08 09:16] justinmk opened #64 "rename "skeleton" to "configs""
`nvim_lsp/skeleton.lua` is not really a skeleton, it's a `configs`  class that provides

1. actual functionality
2. a bunch of configs

Each config is added to the `configs` object (FKA "skeleton") as a property. Those configs are not "templates", they are "configs". So we should clean up the wording in various places to say "config" instead of "skeleton"/"template".

General guideline: avoid extr

[2019-12-08 11:15] justinmk commented on #45
Not supported.

Yes, see `:help vim.fn`. You definitely don't need to do the horrible string concatenation :)

[2019-12-08 11:32] clason commented on #45
@pwntester

I think both of these would to upstream!

[2019-12-08 16:12] D-K-E opened #65 "error while calling lua chunk attempt to index upvalue 'uv' ( a nil value ) at startup"
After installing nvim-lsp with dein plugin manager. I get the following error on the startup of neovim:
[code]

Here is neovim info:
[code]

[2019-12-08 16:17] norcalli commented on #64
To be fair it started as a skeleton that I was copy pasting and then I turned it into a config metaclass thing, if you were curious why the name exists. I just didn't rename the file since it was assume to be internal only, but then people wanted to use it with private servers, so it got slightly exposed.

[2019-12-08 16:20] norcalli commented on #65
Oh yeah you're using a way older version than is supported. This requires master. As in as yet unreleased. You can grab the appimage from neovim.io or build it yourself.

[2019-12-08 16:20] #65 closed

[2019-12-08 16:22] norcalli commented on #63
That is the intention, but it was only made apparent once I started implementing custom commands and I realized that there's no way to create commands for a target buffer, only the current buffer. That's the only time I thought that the `on_attach` in master was insufficient. That's why I am prototyping this version. It's one of the things that I thought I would merge into master. That and the set

[2019-12-08 17:38] ahmedelgabri opened #66 "Vim LSP, is it worth it?"
Is it worth adding a `vim-lsp` that's written in JavaScript like https://github.com/iamcco/vim-language-server or there are any plans to have this natively for example?

[2019-12-08 17:43] norcalli commented on #66
Maybe but I think we should steal that signaturehelp style for the core lsp. I really should improve that feature.

[2019-12-08 17:48] ahmedelgabri commented on #66
True & that's also one more reason IMO that it should be maybe provided by neovim directly, then the integration would be better overall + no need for external dependencies (not everyone who uses vim uses or needs JavaScript) but all of them will benefit from this

[2019-12-08 17:51] norcalli commented on #66
I think if we wanted to provide an LSP style diagnostic, we could do it via treesitter, so we could wait for that to settle and then see.

[2019-12-09 17:55] mhartington opened #68 "lua lsp docs should be expanded"
Right now, trying to configure the lua lang-server is a bit difficult. It's not clear the best way to customize things based on someones machine/env.

[2019-12-09 18:08] csmoe commented on #68
neovim keeps error'd with helpless message on `settings`, it's really annoying for users without lua background to config nvim-lsp :(, have to "learn" lua before adding a simple settings

[2019-12-09 19:21] teto opened #69 "add diagnostics to quicklist"
hi,

Some things I miss from coc.nvim:
- having whole project diagnostics open in the quickfix
- file specific diagnostics in locationlist

Then I suppose this is out of scope for the plugin, but coc.nvim has mappings to go to next diagnostic from current line. In case you have such a snippet, I am eager :p

[2019-12-09 20:05] norcalli commented on #69
Here's a snippet for how to do it for *all servers* by changing the default callback. You could also do this on a per client level with `setup { callbacks = { ["textDocument/publishDiagnostics"] = ... } }`

[code]

The reason I set loop and set uri is because `set_qflist` expects a list of `Location`s and the diagnostics usually are set for a single (in this case the current) file.

[2019-12-10 05:20] justinmk commented on #68
@mhartington can you give specific examples of a custom scenario? Then we can provide examples in the docs.

[2019-12-10 05:25] justinmk commented on #69
is `textDocument/publishDiagnostics` sent passively, or does it require some request to be sent first?

[2019-12-10 05:44] norcalli commented on #69
It's a notification, which means server sent one way communique.

[2019-12-10 06:20] justinmk commented on #69
I could imagine a notification being trigger by a user action. But it sounds like that's not the case for `textDocument/publishDiagnostics`.

[2019-12-12 23:36] cdelledonne opened #70 "ccls: remove inaccurate vscode client initialization options from docgen"
I'm having trouble figuring out how to specify initialization options for `ccls` (the only LSP server I've tested so far) using the `settings` key. Say I want `ccls.cache.directory` to be `/tmp/ccls-cache`, using a command switch I can achieve it like the following
[code]

That works. I'd like to be able to do the same using the `settings` key, but I can't. For instance, neither
[code]

nor
[code]

[2019-12-12 23:43] norcalli commented on #70
That would depend on whether it's "initialization options" or "workspace configuration." This is one of my least favorite parts of the LSP protocol, which is that there are many different ways to send initial configurations to the client:

- Initialization options (`initializationOptions` sent via `initialize`) correspond to `init_options` in our system.
- Workspace configuration (`workspace/confi

[2019-12-13 00:03] cdelledonne commented on #70
Indeed using `init_options` works. I guess the same holds for other options listed under `ccls` which have to be sent via `initialize`.

A side question: there are three options under `ccls.misc.<suboption>`. Why is `misc` there? I believe `ccls` only expects `<suboption>`, rather than `misc.<suboption>` (e.g, [`compilationDatabaseDirectory`](https://github.com/MaskRay/ccls/wiki/Customization#comp

[2019-12-13 00:05] norcalli commented on #70
Those values are scraped directly from the package.json in the vscode extension. I guess that it's impossible to know if they are init_options or settings, but they are things that the `ccls-project.ccls` extension defines, so they are definitely real. I can't really say more than that.

[2019-12-13 00:08] cdelledonne commented on #70
Got it, thanks. Feel free to close the issue, but I feel the README is a little confusing.

[2019-12-13 00:09] norcalli commented on #70
I'm going to leave it open as a reminder to improve the README :P

[2019-12-13 02:38] mhartington commented on #68
Specifically lua lsp specifies that the servers cmd is not set

https://github.com/neovim/nvim-lsp#sumneko_lua

We should at least expand on this to show how to set that cmd.

These docs show how to completely override the config, but in smaller cases, just setting the cmd should be shown/documented

[2019-12-16 10:14] stefansonski opened #74 "dockerls cannot be installed via LspInstall dockerls"
The npm packages defined in the dockerls configuration are not working (anymore).
The package is called `dockerfile-language-server-nodejs` and the binary `docker-langserver`.

[2019-12-16 12:29] delphinus commented on #74
I fixed this in #73 . Try it.

[2019-12-16 12:57] stefansonski commented on #74
It's working, thank you.

[2019-12-16 12:57] #74 closed

[2019-12-18 10:09] teto commented on #69
thanks for the snippet. Seems like it stopped working (callback member disappeared ?).
Also the snippet displayed the buffer line in quickfix rather than the error (more useful, especially when the screen is too narrow to display the virtualtext).

[2019-12-18 10:23] norcalli commented on #69
@teto could you expand on what "callback member disappeared" means? The specific error message would be good.

And yeah, that's a good point, the `set_qflist` was something I designed originally for locations and didn't consider that they could be reused with custom messages (such as from diagnostics). I'll see about adding that as a modification of the utility function or in addition to it.

If y

[2019-12-18 11:07] teto commented on #69
nevermind it worked again. thanks for the pointer. I might have a look, I have a few PRs in the pipeline I would liketo merge first.

[2019-12-19 19:42] Kraust opened #77 "Is it possible to pass in an array of paths into root_dir?"
I am working with a pre-1.13 go codebase that doesn't use go modules, and I was wondering if I could pass in my own fixed set of directories into root_dir.

[2019-12-19 20:10] justinmk commented on #77
yes, see https://github.com/neovim/nvim-lsp/blob/b5686c624c46bf0ea43278493970e45a3722393c/lua/nvim_lsp/solargraph.lua#L9

found by searching:

https://github.com/neovim/nvim-lsp/search?q=root_dir&unscoped_q=root_dir

[2019-12-19 20:10] #77 closed

[2019-12-24 09:26] norcalli commented on #68
I would say for the sumneko one, the recommended way to use it is `LspInstall`. But I agree that it would be helpful to be more explicit about the fact that you can override/set the base `vim.lsp.start_client` config options as well.

[2019-12-24 18:00] comfortablynick opened #80 "lazy load configs"
I've tried to configure nvim-lsp in a similar way I do coc. I try to avoid loading the plugin unless I'm in a file type that uses it. Here is what I'm doing right now:

[code]
I think the reason this doesn't work is because nvim-lsp is setting filetype autcmds. Is there a way to do what I want?

If I put nvim-lsp in the `start` package directory, it doubles my vim load time, so I really don't want

[2019-12-24 18:18] norcalli commented on #80
When you say "I want to load it when I really need it," you mean the entire plugin? Because the plugin is already pretty lazy.

It doesn't launch a client until you open a file that matches its criteria. And if you want to do your custom configuration only when the client attaches to a buffer, you can use `on_attach = function() ... end`.

[code]

I would be surprised if it really doubles the load

[2019-12-24 18:23] norcalli commented on #80
And there is a way to do what you want, but it's really not exactly how things were intended to be used and not ergonomic at all and definitely a duplication of the existing logic.

You're going to have to do more work to make sure that `setup{}` isn't called multiple times. And currently there's no way to disable the autocmd, so instead you can specify a dummy filetype that will never trigger.

[

[2019-12-24 18:25] norcalli commented on #80
So like I said, I think it would be more prudent to debug this timing thing, because that's something we can improve for everyone and I would be **very** surprised if it's that slow. @comfortablynick

[2019-12-24 21:56] mjlbach commented on #80
I'm not having this issue in my config. The startup time increase is ~10 ms (less than 5%).

With --startuptime:

[no_nvim_lsp.log](https://github.com/neovim/nvim-lsp/files/3999093/no_nvim_lsp.log)
[nvim_lsp_6.log](https://github.com/neovim/nvim-lsp/files/3999097/nvim_lsp_6.log)

[2019-12-24 22:02] norcalli commented on #80
Do note that the timings aren't exactly deterministic. The best is the average of many runs because between measurements of the same configuration, it changes a few ms.

This is mine, for instance:

[code]

[2019-12-24 22:48] comfortablynick commented on #80
Ok, thanks for the help. I will test with a minimal config. It added a lot of time with my existing config but I'm not sure why. If it's 10ms that wouldn't be a problem.

[2019-12-24 23:21] norcalli commented on #80
Here's my advanced timing information btw. From my estimates, around 4ms. Also it appears that I definitely need to make a new plugin manager to save time on loading/requires

<details><summary>timing</summary>

[code]

</details>

[2019-12-25 06:07] ephemerr commented on #65
I am on Ubuntu 18.04 and have same error with default nvim package. Then I've used appimage from neovim.io and have other error:
`~/.vim/bundle/nvim-lsp/lua/nvim_lsp/util.lua:315: attempt to index local 'fn' (a nil value)`

nvim-lsp from master branch

[2019-12-25 10:36] norcalli commented on #65
@ephemerr create a new issue.

[2019-12-25 10:55] ephemerr opened #81 "error while calling lua chunk attempt to index upvalue 'fn' ( a nil value ) at startup"
Ubuntu 18.04
nvim-lsp from master branch
nvim 0.4.3 appimage from neovim.io

error:
~/.vim/bundle/nvim-lsp/lua/nvim_lsp/util.lua:315: attempt to index local 'fn' (a nil value)

[2019-12-25 11:30] h-michael commented on #81
nvim-lsp require nightly build nvim.

[2019-12-25 13:23] ephemerr commented on #65
nvim-lsp require nightly build nvim now.
If you want to use, you build nvim master branch or wait for nvim v0.5.0.

_Originally posted by @h-michael in https://github.com/neovim/nvim-lsp/issues/81#issuecomment-568889095_

so appimage is not solution

[2019-12-25 13:24] norcalli commented on #65
@ephemerr ah I see now. I assumed there was an appimage for nightly. Yes that's correct. Try to obtain a copy of nightly neovim.

[2019-12-25 14:44] comfortablynick commented on #80
How did you produce that timing info?

[2019-12-25 14:45] norcalli commented on #80
Custom tool written in lua. Since I have all my dotfiles in lua, it's a lot easier to just measure things directly using `os.clock()`.

[2019-12-25 20:23] comfortablynick commented on #80
Ok, I had a chance to test with stripped down config. I've run it multiple times and get similar results.

I did a fresh clone of nvim-lsp to ~/plugin/pack/test/start...I wonder why my results are so different?

[code]
[code]
[code]

[2019-12-25 20:25] comfortablynick commented on #80
Can you share this? I'd also love to see your Lua config. I have my vimrc in Lua, but I still have many configurations as plugin files. I use [vim-packager](https://github.com/kristijanhusak/vim-packager) to manage the packpath.

[2019-12-26 04:57] justinmk commented on #65
There is: https://github.com/neovim/neovim/releases/tag/nightly

[2019-12-26 04:59] justinmk commented on #81
There is an appimage for nightly (0.5 prerelease) as well as stable (0.4.3).

Both are listed at https://github.com/neovim/neovim/releases

[2019-12-26 04:59] #81 closed

[2020-01-02 08:25] #66 closed

[2020-01-02 08:27] justinmk commented on #13
README.md has tons of documentation now. If something is missing, make a specific suggestion or PR.

[2020-01-02 08:27] #13 closed

[2020-01-02 08:28] justinmk commented on #25
@norcalli  What's remaining to be done here?

[2020-01-03 01:33] norcalli opened #92 "Change installation scripting to use native Lua commands"
I had a thought today that I could provide a function to make this easier which looks like this:

[code]

This would allow us to choose how to implement the backend and abstract it away, for instance by redirecting the output of the commands to a buffer (like we do currently with `util.sh`) and still make it ergonomic to use.

I already have a prototype I use for my own things which has the interf

[2020-01-08 17:32] kyle-mccarthy opened #93 "LspInstall tsserver fails"
I am having issues installing the LSP for tsserver using the `:LspInstall tsserver` command.

[code]

The folder exists but only has the lock file.
[code]

- NVIM v0.5.0-013436c99

I am not sure how to check the version of nvim-lsp, but I use plug and it says that it is up to date. LMK if I can provide additional debug info!

[2020-01-08 17:39] kyle-mccarthy commented on #93
Okay so running `:LspInstall tsserver` again results in it telling me that tsserver is already installed? So I guess that the error doesn't indicate a total failure... I will close the issue.

[2020-01-08 17:39] #93 closed

[2020-01-08 18:13] justinmk commented on #93
Yeah that just looks like NPM noise.

[2020-01-15 19:19] KokaKiwi opened #94 "[rust_analyzer] initalizationOptions causing ra_lsp_server an error"
Because of how vim `json_encode` transform vim data into JSON data, the lua value `{}` which is the default value for `init_options` is being encoded into an empty JSON array.
But `ra_lsp_server` expect to receive a JSON map for decoding the init options and emit an error: `failed to deserialize config: invalid length 0, expected struct ServerConfig with 12 elements` when receiving an empty initia

[2020-01-15 21:38] teto commented on #92
There are just too many ways to install software that I don't believe it's worth creating our own package manager. It depends on the platform, the ecosystem etc.

[2020-01-18 07:01] nabezokodaikon opened #95 "I want to suppress warning messages."
I want to hide the following message.

<img width="602" alt="スクリーンショット 2020-01-18 15 03 51" src="https://user-images.githubusercontent.com/3197942/72660052-a9709380-3a0b-11ea-9ba7-487a8983a3b1.png">

[2020-01-18 10:30] nabezokodaikon opened #96 "I want to suppress warning messages."
# Problems summary
A warning message is displayed.

## Expected
I want to suppress warning messages.

## Environment Information

 * nvim-lsp version (SHA1): 7a15a52c0a7d735625ac73dc4d8efe70c5e99707
 * deoplete-lsp version (SHA1): 7a8c44f423bc4339c092a759abaad40131d2c98a
 * deoplete version (SHA1): 5be25591770c5abc7214e8899c4d451c479ac2ec

 * OS: Mac

 * neovim/Vim `:version` output: NVIM v0.5.0-3

[2020-01-18 11:10] #95 closed

[2020-01-18 23:42] justinmk commented on #94
This can be fixed by setting it to `vim.empty_dict()`. Just need someone to send a PR doing that.

[2020-01-18 23:47] justinmk opened #97 "rename to nvim-lspconfig"
Probably should have anticipated this, but people are confused about nvim-lsp (this repo, not Nvim-builtin) vs vim.lsp (Nvim builtin). Although the nvim-lsp README.md makes it clear, it still confuses people in discussions ([example](https://www.reddit.com/r/neovim/comments/eq48cy/anyone_using_nvimlsp/)), and people who are just getting started.

So we should

- rename this repo to ~~nvim-lspconf~

[2020-01-18 23:56] justinmk commented on #92
@teto Although I agree that installation in general is not a business we want to be in, that's not what this issue is proposing.

We already have some best-effort attempts in this plugin to install various things. And this issue AFAIU is proposing to make some util methods to do that instead of writing a bunch of shell scripts everywhere. And that's definitely a good idea.

Regarding the general i

[2020-01-19 03:04] KokaKiwi commented on #94
I think default to that would be good, as the LSP spec says `initOptions` has to be a dictionary anyway, so even if implementations actually mainly don't mind about this, defaulting to what the specs say seems to be the correct way of handling this imho

[2020-01-19 04:54] norcalli commented on #97
No objections. I'm curious if github will handle redirection for cloning, though. It's probably worth a test run on a dummy repo.

[2020-01-19 05:31] h-michael commented on #97
@norcalli
It automsticaly redirects.
https://help.github.com/en/github/administering-a-repository/renaming-a-repository

[2020-01-24 16:59] nabezokodaikon opened #101 "Enter all keywords and they will be removed from completion."
# Problems summary
Enter all keywords and they will be removed from completion.

## Expected
Even if you enter all keywords, do not disappear from the completion candidates.

## Environment Information
 * nvim-lsp version (SHA1): 7a15a52c0a7d735625ac73dc4d8efe70c5e99707
 * deoplete-lsp version (SHA1): 7a8c44f423bc4339c092a759abaad40131d2c98a
 * deoplete version (SHA1): 5be25591770c5abc7214e8899c4d

[2020-01-24 17:36] nabezokodaikon commented on #101
I'm starting to feel like a problem with deoplete.

[2020-01-24 17:36] #101 closed

[2020-01-25 05:16] DonnieWest opened #102 "Error executing vim.schedule lua callback: Vim(for):E714: List required"
I'm running into the following error during completion using the `tsserver` configuration. Other forms of completion (`gopls`, `rust-lsp`, etc) all work

[code]

This was originally reported to me on my loose wrapper for nvim-lsp for asyncomplete on this issue: https://github.com/DonnieWest/asyncomplete_neovim_lsp/issues/1

I've since been able to replicate it on a small Javascript project, using

[2020-01-26 00:23] justinmk commented on #102
is there no line number/backtrace given?

[2020-01-26 01:16] DonnieWest commented on #102
This is just what was printed to `:messages` - is there a better place that I can grab debugging info?

[2020-01-26 01:55] justinmk commented on #102
I don't see anywhere in nvim core nor nvim-lsp where we schedule a VimL for-loop. Just a guess, but I see [this](https://github.com/DonnieWest/asyncomplete_neovim_lsp/blob/master/autoload/asyncomplete/sources/lsp.vim#L111) assumes that `a:results['items']` is a list. Maybe it's null or something like that?

I think we need better tracing for vim.schedule, but that's a core issue not nvim-lsp.

[2020-01-26 01:55] #102 closed

[2020-01-26 02:51] DonnieWest commented on #102
Aha. Yep. That's the issue. Sorry for the noise

[2020-01-26 11:19] kuator opened #103 "Is it possible to use it in command editing mode?"
Is it possible to use it in command editing mode `q:, q/, q?`?
The gif on the main page shows how you substitute in command-editing mode. But it doesn't seem to work on my vim instance.
[code]
minimal.init:
[code]

`nvim -u minimal.init somefile.txt`

[2020-01-26 11:56] kuator commented on #103
I am extremely sorry, wrong repository

[2020-01-26 11:56] #103 closed

[2020-01-28 05:59] #44 closed

[2020-01-28 06:00] justinmk commented on #44
Closing since it seems like we decided against, based on above discussion.

[2020-01-28 17:09] mjlbach commented on #80
Interesting, with an empty init.vim, nvim_lsp is the largest contributor to startup time. Still small.

[code]

[2020-01-29 11:56] teto commented on #69
works now on master ty.

[2020-01-29 11:56] #69 closed

[2020-01-29 15:01] teto opened #106 "auto-disable on fatal error (don't error on every buffer)"
When nvim-lsp doesnt find the executable specified in the nvim-lsp config, it spits out a message.
`Error executing lua ...9kqpskva35-neovim/share/nvim/runtime/lua/vim/lsp/rpc.lua:212: The given command "ghcide" is not executable.`
If you change the current buffer, the autocmd triggers and the same error appears again and again.
coc.nvim only fails on the first bufffer.

This may be considered as

[2020-01-29 16:43] matu3ba commented on #94
Changing in lua/nvim_lsp/skeleton.lua
<code>init_options = {};</code> to
<code>init_options = vim.empty_dict();</code>
did **not solve the issue**.
I directly changed the git folder in plugged and used
`lua require'nvim_lsp'.rust_analyzer.setup{}` in *init.vim*.

`call nvim_lsp#setup("rust_analyzer", {})` returns `unknown function`, so it should be removed from the docs.
What am I missing here?

[2020-01-29 18:18] anderejd commented on #94
@matu3ba Did you get it to work? If yes, I would very much appreciate a full example of how to do it.

[2020-01-29 18:36] matu3ba commented on #94
Sorry, somehow it works. I was very confused by the message, but the message shortly thereafter disappears.

[2020-01-29 19:00] matu3ba commented on #94
With the described 1-line [PR](https://github.com/neovim/nvim-lsp/pull/107) added, it works.

[2020-01-31 08:00] #64 closed

[2020-01-31 08:07] justinmk commented on #106
Handler should maybe just remove itself (and mention this in the message). Else we are running the same failing check, even if the error would hidden. Example:

    lsp: "ghcide" not found; handler disabled

But then users might have some autocmds invoking the thing. Should perhaps also store a `last_result` field in some object, which the handler checks.

[2020-01-31 08:10] justinmk commented on #94
@matu3ba where are you seeing that? It was removed from all docs that I know of, weeks ago.

[2020-01-31 09:12] justinmk commented on #80
Perhaps it can be more lazy: currently  [nvim_lsp.lua](https://github.com/neovim/nvim-lsp/blob/master/lua/nvim_lsp.lua) eager-loads all of the configs. We can probably avoid that.

[2020-01-31 14:23] teto commented on #106
cool. I will try to come up with something.

[2020-02-02 00:18] matu3ba commented on #94
@justinmk you are correct.

[2020-02-02 09:31] #80 closed

[2020-02-04 06:24] erw7 opened #113 "Error in clangd on Windows."
Due to changes in https://github.com/neovim/nvim-lsp/commit/638dad178311ee890b54587280790955eefd75ad, the following error occurs when opening a C source file on Windows:

[code]

On Windows, the following result does not seem to be `nil`.

[code]

I think that if we add `'.'` to `root_pattern` on non-Windows, it always returns the directory where the file is located.

[2020-02-04 07:01] justinmk commented on #113
Thanks for debugging! So you have a local change that is working for you? Could you post it here?

[2020-02-05 06:04] tkinz27 opened #115 "[gopls] run `editor.action.organizeImports` on save."
I'm struggling to figure out how to make an autocmd to call the `editor.action.organizeImports` command that `gopls` offers. For `coc.nvim` they provide the following config https://github.com/golang/tools/blob/master/gopls/doc/vim.md#cocnvim

Not sure if this is the write project to add this type of support or if it is just a lua function that calls the built in vim.lsp functions. Any help would

[2020-02-05 08:19] #113 closed

[2020-02-05 09:33] lithammer commented on #115
Just winging it here, but something like this could be a starting point:

[code]

It's pretty naive. So using the `on_attach` callback is probably a better approach:

[code]

It works, kind of, but leaves the file a 'modified' state which isn't desirable. So there's at least one missing piece.

[2020-02-05 13:16] donotnoot commented on #69
@norcalli thanks for the snippet!!!
@teto I use vim-qf to "tame the quickfix" as the plugin claims, this is what I've come up that is very similar to coc
[code]

[2020-02-05 14:26] dagadbm opened #116 "Support for vue-language-server ?"
Will nvim-lsp support https://www.npmjs.com/package/vue-language-server ?

[2020-02-06 04:25] justinmk commented on #116
We depend on those who use a particular LSP to add support for it, by sending a pull request.

Try https://github.com/neovim/nvim-lsp/pull/117 .

[2020-02-06 04:25] #116 closed

[2020-02-07 09:52] GoldsteinE opened #118 "Rename is not working for python-language-server"
Subj. Logs show nothing at all, even with log level set to 4.

[2020-02-07 10:02] lithammer commented on #118
Did you install rope? It's required for renaming functionality and is an optional install.

[2020-02-07 10:11] GoldsteinE commented on #118
Yes, `rope` is installed. I have also installed `python-language-server[all]` just to be sure.
Can reproduce it with this config:
[code]

[2020-02-07 10:15] GoldsteinE commented on #118
Actually, `:lua vim.lsp.buf.definition()` doesn't work as well.

[2020-02-07 12:07] h-michael commented on #118
@GoldsteinE Would you show me sample project or sample codes to test?

[2020-02-07 13:37] GoldsteinE commented on #118
[code]
Trying to rename `test` to `test2` fails. Trying to jump to definition from last line also fails.

[2020-02-07 22:01] teto commented on #97
nvim-lspconf or nvim-lsp-configs since there are several.
The sooner the better.

[2020-02-08 01:10] h-michael commented on #118
I try and debug this.
It seems that pyls don't reply anything after responsing initialized.
Is this pyls issue?

[2020-02-08 08:53] justinmk commented on #97
Changed my mind again: I am thinking:

- repo name: `nvim-lsp.configs`
- Lua module: `lsp.configs`
    - and that's where the `configs` singleton lives instead of wherever it lives right now.
- The various configs live in `lua/configs/*.lua`

I didn't look closely, but it seems like there is no reason for `nvim_lsp.lua`  to be a separate module. It should just be the `lsp.configs` module.

[2020-02-08 12:50] GoldsteinE commented on #118
It seems that multiple Vim and NeoVim LSP plugins have problems with pyls. How to collect pyls logs from nvim-lsp so I can report issue there?

[2020-02-08 13:13] h-michael commented on #118
@GoldsteinE  You can get pyls log like this.
[code]

[2020-02-08 15:09] teto commented on #97
agreed, the split looks a bit artificial and forces to submit changes across the 2 repo. Having really just the configs here would be best.

[2020-02-08 18:25] tkinz27 commented on #115
So that autocmd works alright, however `gopls` separates out updating imports as a separate action than formatting. I guess my question is how to call a custom lsp action (not sure the lsp terms here).

[2020-02-10 06:32] tuxsoy commented on #94
Can someone please double check? I still have this issue.

[2020-02-10 07:01] justinmk commented on #94
@tuxsoy always need to know exact version of Nvim and this plugin.

[2020-02-10 22:27] tuxsoy commented on #94
@justinmk I'm using the appimage release of neovim (`NVIM v0.5.0-363-g31614d3eb`) with nvim-lsp commit 42385db. The error message is:

[code]

Reverting to commit b4f4b72 does not solve the issue either.

Commenting the following lines fixes the issue for me, so the problem is probably on these lines:
https://github.com/neovim/nvim-lsp/blob/42385dbf6a5eac40da213322fdd3037588eede56/lua/nvim_lsp/con

[2020-02-10 23:25] h-michael commented on #94
OK, I'll check it later.

[2020-02-11 00:58] h-michael commented on #94
@KokaKiwi @matu3ba  @tuxsoy
Would you try [this branch](#121)?

[2020-02-11 11:45] matu3ba commented on #94
This removes the error message and shows "LSP[rust_analyzer][Info] workspace loaded, 12 rust packages".
Did try on the old and current nightly neovim appimage.

[2020-02-12 13:50] JamesGreenaway opened #124 "omni completion results duplicate $ character"
When triggering omni completion CTRL-X_CTRL-O on the `$` character,  all matches will ignore the first `$` and duplicate it. For example, when using the intelephense LS, if I trigger omni completion it will result in `$$GLOBALS`. The expected behavior is `$GLOBALS`.

[2020-02-12 14:29] h-michael commented on #124
@JamesGreenaway I don't use php. So would you show me some projects to test?

[2020-02-12 14:36] JamesGreenaway commented on #124
1. Set up neovim with LSP and intelephense.
2. Create a php file:
[code]
The first result should be $GLOBAL.
3. The file should then look like this:
[code]
Let me know if you need a screenshot.

[2020-02-12 15:20] h-michael commented on #124
I can't reproduce it.
https://terminalizer.com/view/2a0a07ae3096

[2020-02-12 15:35] JamesGreenaway commented on #124
thats really strange, can you show me how you set up the intelephense? I have tried again and it's still duplicating the character. I'll create a screenshot if I can't get it to work.

[2020-02-12 15:56] JamesGreenaway commented on #124
it only happens when I set:

`autocmd Filetype php setlocal omnifunc=v:lua.vim.lsp.omnifunc`

[2020-02-12 15:57] nabezokodaikon opened #125 "Crash when using rust-analyzer."
## Environment Information
* OS: MAC
* NVIM: 0.5.0 `5d5b068`
* rust-analyzer: `5bf669860984a2c058b3bdc3e43b4993a0f25b31`
* nvim-lsp: `42385dbf6a5eac40da213322fdd3037588eede56`

## Provide a minimal settings
lsp.lua
[code]

## Error
[code]

[2020-02-12 16:15] h-michael commented on #125
see https://github.com/neovim/nvim-lsp/issues/94#issuecomment-584432418 and https://github.com/neovim/nvim-lsp/pull/121

[2020-02-12 16:43] nabezokodaikon commented on #125
Solved on branch `h-michael / nvim-lsp`. Thank you.

[2020-02-12 16:43] #125 closed

[2020-02-13 04:17] halzy commented on #94
I manually patched the last nightly (v0.5.0-372-g68de6b17b) with the 5 lines ([here](https://github.com/h-michael/neovim/commit/417fc6ccf78801aef79a8731c5a85db6b12cd407#diff-7f472431a1463bbeec031cd66114173eR23)) and it didn't fix the error. Also tried it in combination with [pull 121](https://github.com/neovim/nvim-lsp/pull/121) with no success.

[2020-02-13 05:00] h-michael commented on #94
@halzy
It works fine in my environment.
Would you show me this command result?

`:lua print(vim.inspect(vim.deepcopy(vim.empty_dict())))`

[2020-02-13 06:13] h-michael commented on #124
@JamesGreenaway Would you show me minimal vimrc for this issue?

[2020-02-13 08:05] h-michael commented on #118
If it works with other Vim lsp plugins, if nvim-lsp does not work, please create an issue again.

[2020-02-13 08:05] #118 closed

[2020-02-13 08:41] JamesGreenaway commented on #124
Perhaps I have set it up incorrectly. I followed the instructions in the help file.

[code]

This is what I put in my vimrc:
[code]

It seems that the Lua script and the autocmd duplicate the omnifunc.

Can you confirm what is best practice?

[2020-02-13 08:58] lithammer commented on #124
You probably want to use the `on_attach` hook instead of using an `autocmd`:

[code]

[2020-02-13 13:42] halzy commented on #94
This is the result:
`E5105: Error while calling lua chunk: [string "<VimL compiled string>"]:1: attempt to call field 'empty_dict' (a nil value)`

I had modified the file that were unzip'd with neovim's nightly (osx) and had used Plug to install (git fetch) the nvim-lsp directory, to which I added the other repo as a remote and checked the branch out that the pull request was for.

[2020-02-13 13:44] halzy commented on #94
Ah, shoot. I was in the wrong neovim for that command you mentioned.

The actual result: `{}`

[2020-02-14 00:47] h-michael commented on #94
@halzy

That result is not expected.
Expected behavior is `vim.empty_dict()`.
You may have something wrong build.

[2020-02-14 18:12] halzy commented on #94
Versions:
NeoVIM: `NVIM v0.5.0-374-gd9657b3ae`
nvim-lsp: `:Plug 'h-michael/nvim-lsp', { 'branch': 'ra-server' }`

With the nvim-osx files expanded in my home dir patched with:
https://github.com/neovim/neovim/pull/11864/files#diff-7f472431a1463bbeec031cd66114173e

All other NeoVim install have been removed from my system.
`:lua print(vim.inspect(vim.deepcopy(vim.empty_dict())))`
still reports: `{}

[2020-02-14 22:34] halzy commented on #94
I just ran a git bisect on the issue. `3062676b5c846174996bfd7ee746b3e5b7176d5b` is the commit that introduced the error.

[2020-02-15 17:10] #94 closed

[2020-02-15 17:24] bfredl commented on #94
This got closed by automatic github action. If issues persist we can reopen it.

[2020-02-16 03:16] h-michael commented on #94
@halzy Try nightly Neovim. My fixes are included.

[2020-02-17 09:35] urandom opened #127 "[gopls] delay diagnostics or not run them in insert mode"
Is there any way to force a particular lsp server to delay its diagnostics, or not run them during insert mode?

gopls is tends to be quite chatty when i'm writing and i see a lot of temporary diagnostics virtual texts. Worse yet, at some point in time, the following messages (in a different buffer) start being printed out, causing pauses in the ui:

LSP[gopls] 2020/02/17 09:01:01 failed to fix AS

[2020-02-17 09:35] urandom commented on #127
sorry about the bug label, this is more of a question/documentation issue

[2020-02-17 15:58] lithammer commented on #127
Ideally I would like an option to suspend all `textDocument/publishDiagnostics` communication in insert mode (i.e. both inbound and outbound). Or at the very least add some kind of debounce.

It's possible to mess around with a custom `vim.lsp.callbacks['textDocument/publishDiagnostics']` callback to remove most of the noise. But that just means throwing away the response, the LSP will still perfo

[2020-02-18 03:15] halzy commented on #94
Issue has been resolved. Thank you!

[2020-02-18 04:51] h-michael commented on #127
@urandom Would you show me a sample codes or project?

[2020-02-18 07:53] urandom commented on #127
@h-michael
It seems that the code really doesn't matter. Any partial statement will obviously trigger diagnostics, and some will cause that blocking error as well, though I'm not exactly sure what causes the later.

I've noticed it mostly happening when I start writing struct literals, like:
https://github.com/globusdigital/feature-toggles/blob/7ab6dd1a839c3a58354f95fb689d4cc558232de9/toggle/toggl

[2020-02-18 10:13] norcalli commented on #127
@lithammer I would ignore the cost of the processing on the keypress if you're using an LSP at all on a battery and just disable it if that is a concern. There's no way to use an LSP without sending the textDocument updates, which, currently, send the whole text document due to a bug preventing incremental updates in the core LSP (but to be fair, a lot of LSP servers don't support incremental as w

[2020-02-18 10:25] h-michael commented on #127
This is not diagnostic information but gopls internal error message.
So there may be room for a little better nvim's lsp error handling. I'll fix that later.

[2020-02-18 10:29] dbarrosop commented on #127
@norcalli other lsp plugins for nvim supports it and the experience overall is so much better. Specially if you prefer to run your own diagnostic tools with neomake

[2020-02-18 10:52] h-michael commented on #127
@dbarrosop
The LSP notifies the server of the text change each time the text changes. The server will notify you if there are any diagnostics at that time. Neomake runs at any time, so comparing is nonsense.
Anyway, as mentioned above, there is room for improvement, so we will fix that point.

[2020-02-18 12:09] dbarrosop commented on #127
You may disagree and it may or may not be feasible to disable diagnostics client side but it's certainly not nonsense. I'd rather run diagnostics/notify the server when I know I am done typing than having it tell me my syntax is incorrect as I type.

I also don't think disabling the LSP is a suitable workaround to avoid battery drain due to excessive diagnostics. The LSP does way more things than

[2020-02-18 15:03] bfredl commented on #127
A better compromise might be to delay notifying the server as the original submitter suggested.

Though this is contradictory. We don't notify the server to get diagnostics specifically, rather _all_ functionality of the server requires frequent updates of buffer to function properly. Especially completion requires the latest text of the line being edited while insert mode is still in progress. Se

[2020-02-18 16:18] lithammer commented on #127
I managed to scramble something like this together. Not sure it's the best way though.

[code]

[2020-02-19 08:37] urandom opened #129 "question: more information with reference/implementation results"
Hi,

Is there a way to configure nvim-lsp to show the line contents as well as the file:line:column in the quickfix?

At least by default, it seems to only show the filename information, which makes it quite hard to go where I need, since I don't know what is at those positions.

[2020-02-19 08:42] urandom commented on #127
A response regarding this issue from the gopls maintainer:

https://github.com/golang/go/issues/37259#issuecomment-587584588

[2020-02-19 10:43] K1DV5 opened #130 "Question: how can I possibly get a similar completion experience as e.g. coc.nvim?"
I'm used to using coc.nvim style completion where the completion list is shown and updated as you type. But with omnifunc, you have to explicitly invoke it. Is there a workaround?

[2020-02-19 12:48] h-michael commented on #130
I don't use coc.nvim. Would you show me gif or video?

[2020-02-19 12:58] K1DV5 commented on #130
![](https://s2.gifyu.com/images/autocomplete.gif)

[2020-02-19 13:03] Shatur95 commented on #130
![изображение](https://user-images.githubusercontent.com/22453358/74836884-f6a49580-5328-11ea-9306-1a70bcd8b374.png)

[2020-02-19 15:51] mjlbach commented on #130
@K1DV5 For now, you'll need to use an auto-completion plugin (although I'm hacking on a built-in lua solution because I would love to reduce my plugin count by 1)

I would recommend either:
https://github.com/Shougo/deoplete.nvim
https://github.com/Shougo/deoplete-lsp

https://github.com/ncm2/ncm2

I would currently not recommend:
https://github.com/lifepillar/vim-mucomplete

[2020-02-19 15:56] Shatur95 commented on #130
@mjlbach, thank you!
So, auto-completion will be build-in in `vim-lsp` in future?

[2020-02-19 16:04] lithammer commented on #130
I'm a fan of this. However it probably doesn't work the way you want/expect. I like the fact that it has a trigger (`<Tab>` in my case) instead of just popping up all the time causing a bunch of visual noise as you type.

[2020-02-19 16:06] mjlbach commented on #130
In my case, it does in fact popup immediately after a trigger character (., :) etc.

[2020-02-19 16:10] Shatur95 commented on #130
Sorry for a dump questions, how do you configured it with vim-lsp?

[2020-02-19 16:12] mjlbach commented on #130
These are all of the relevant lsp settings in my init.vim, including mucomplete.
[code]

[2020-02-19 16:24] lithammer commented on #130
You just need to make sure `omnifunc` is set to `v:lua.vim.lsp.omnifunc`.

@mjlbach I would suggest you use the `on_attach` callback. It's more dynamic since you don't have to hardcode the filetypes in your `autocmd` and doesn't create global mappings (i.e. plays nicer with non-lsp filetypes). Something like this:

[code]

[2020-02-19 16:39] Shatur95 commented on #130
Hm... I tried this with this configuration:
[code]
MUcomplete works, but I do not have LSP suggestions. Tested with Python. I have `pyls` installed and neovim  v0.5.0-387-ge8f160c82`.

[2020-02-19 16:50] mjlbach commented on #130
@lithammer Thanks, implemented your suggestions :)

[2020-02-19 17:00] Shatur95 commented on #130
How can I do it?
I newbie in Vim :)

[2020-02-19 17:01] mjlbach commented on #130
<c-x><c-o>

[2020-02-19 17:04] Shatur95 commented on #130
Yes, it show me LSP suggestins! How can I integrate it with MUcomplete?

[2020-02-19 20:14] Shatur95 commented on #130
@mjlbach, @lithammer, thank you a lot, I had a typo in Lua. Now everything works.
Is it possible to configure it with less Lua scripting as it done in `coc.nvim` or
`LanguageClient-neovim`?

[2020-02-19 21:01] mjlbach commented on #130
You can look at the original edit of my comment before revised, but there will always be at least three lines in a lua heredoc

[2020-02-19 23:38] Shatur95 commented on #130
@mjlbach, thanks, tested deoplete.nvim and ncm2, but I liked MUcomplete more.
I suggest to add this instructions in README.md.

[2020-02-19 23:43] Shatur95 opened #131 "Add TCP support"
Recently Godot 3.2 was released with LSP support. But LSP works only through Websocket. [This](https://github.com/godotengine/godot/pull/35864#) PR switches Godot's LSP to TCP and now can be suported for the Vim plugins. I tested it with coc.nvim and everything works. Does `nvim-lsp` will support TCP?

[2020-02-20 00:56] h-michael commented on #129
https://github.com/neovim/neovim/pull/11910 will resolve this.

[2020-02-20 01:36] Shatur95 opened #133 "Add statusline support"
vim-lsp can show occurred errors at statusline ([issue](https://github.com/prabirshrestha/vim-lsp/issues/346), [PR](https://github.com/prabirshrestha/vim-lsp/issues/346)). Is it possible to implement it in this plugin too?

[2020-02-20 01:54] h-michael commented on #131
Not planed yet. I didn't think there was a language server that didn't provide a way to use it on std io.

It may be misleading because the name of the plugin is not appropriate now, but this plugin is a collection of settings for using each language server from Nvim's built-in lsp.
The core logic of Nvim's lsp client is in Nvim itself. So please post an issue on lsp client at [neovim/neovim](http

[2020-02-20 01:54] #131 closed

[2020-02-20 01:56] h-michael commented on #133
It may be misleading because the name of the plugin is not appropriate now, but this plugin is a collection of settings for using each language server from Nvim's built-in lsp.
The core logic of Nvim's lsp client is in Nvim itself. So please post an issue on lsp client at [neovim/neovim](https://github.com/neovim/neovim/issues/new/choose).

[2020-02-20 01:56] #133 closed

[2020-02-20 02:01] h-michael commented on #130
Thanks to everyone for suggesting various ways to address this issue.
@K1DV5 Do these answers solve your problem?Do these answers solve your problem?

[2020-02-20 02:03] h-michael commented on #129
This is a problem with the implementation of the lsp client itself, and I will close it because the above PR will probably solve it.
Please comment if you have anything.

[2020-02-20 02:03] #129 closed

[2020-02-20 05:13] K1DV5 commented on #130
Thank you so much, the biggest reason for me to switch from coc, which works great, is the fact that it depends on node. So since both deoplete and ncm2 rely on python, they're not viable. But mucomplete seems to be what I'm looking for. It's great. So thanks.

Should I close this or keep it open in case someone else has something to say?

[2020-02-20 06:02] h-michael commented on #130
If we do not lock an issue, even if we close it, we can comment on the issue so close it.

[2020-02-20 06:02] #130 closed

[2020-02-20 06:03] mjlbach commented on #130
@h-michael it might be convenient to start populating the wiki with some of these tips/tricks from various github issue

[2020-02-20 06:46] justinmk commented on #130
Let's avoid yet another source of truth. If there is really something actionable here, please send a doc update (to `runtime/doc/lsp.txt` in Neovim core repo). We already have too many documentation stores, we are trying to consolidate them.

[2020-02-20 08:41] urandom opened #134 "[gopls] rename does not work"
- `nvim --version`:
<pre>
NVIM v0.5.0-b353a5c
Build type: Release
LuaJIT 2.0.5
Compilation: /usr/local/Homebrew/Library/Homebrew/shims/mac/super/clang -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=1 -DNDEBUG -Wall -Wextra -pedantic -Wno-unused-parameter -Wstrict-prototypes -std=gnu99 -Wshadow -Wconversion -Wmissing-prototypes -Wimplicit-fallthrough -Wvla -fstack-protector-strong -fdiagnostics-color=auto -DI

[2020-02-20 20:17] Shatur95 commented on #130
@justinmk, thank you, didn't know about this page.
I changed my configuration to this:
[code]

[2020-02-20 21:22] mcepl opened #137 "LSP: checkhealth complains "Vim(lua):E5108: Error executing lua /usr/share/nvim/runtime/lua/vim/lsp.lua:137: cmd type must be list.""
- `nvim --version`: own build from e8f160c82
- `vim -u DEFAULTS` (version: ) behaves differently? NA (doesn't have built-in LSP client)
- Operating system/version: openSUSE/Tumbleweed
- Terminal name/version: gnome-terminal-3.34.2-3.1.x86_64
- `$TERM`: vte-256color

### Steps to reproduce using `nvim -u NORC`

Run ``:checkhealth``

### Actual behaviour
[code]
The rest of the output is green.

###

[2020-02-20 22:09] mfussenegger commented on #134
I think this might be fixed with the buffer version change (https://github.com/neovim/neovim/pull/11607/commits/ff421cfbccfeb95920f5ce17d4898a4262b3dd69) in https://github.com/neovim/neovim/pull/11607

[2020-02-20 23:07] urandom commented on #134
If I'm running on NVIM v0.5.0-388-gab12a2294, which according to AUR is from 20200219, wouldn't I already have this change?

[2020-02-21 01:28] sparkcanon opened #135 "Formatting with prettier"
Sorry if this is a dumb questions. I have been using `vim.lsp.buf.formatting()` but I don't think it respects my prettier or eslint rules. How do I make `vim.lsp.buf.formatting()` use my prettier rules?

Thanks!

[2020-02-21 03:59] h-michael commented on #135
What language server do you use?

[2020-02-21 06:34] mcepl opened #136 "checkhealth complains "Vim(lua):E5108: Error executing lua /usr/share/nvim/runtime/lua/vim/lsp.lua:137: cmd type must be list.""
I was sent here from https://github.com/neovim/neovim/issues/11919:

- `nvim --version`: own build from e8f160c82
- `vim -u DEFAULTS` (version: ) behaves differently? NA (doesn't have built-in LSP client)
- Operating system/version: openSUSE/Tumbleweed
- Terminal name/version: gnome-terminal-3.34.2-3.1.x86_64
- `$TERM`: vte-256color

### Steps to reproduce using `nvim -u NORC`

Run ``:checkhealth`

[2020-02-21 07:27] #137 closed

[2020-02-21 07:28] justinmk commented on #136
it should show the config that actually failed... cc @teto

@mcepl does it happen with `nvim -u NORC`? please share your lsp config.

[2020-02-21 08:14] justinmk commented on #135
This repo is a best-effort collection of configs. We can't answer questions about the hundreds of different ecosystems out there, it's up to user to send improvements here.

[2020-02-21 08:14] #135 closed

[2020-02-21 09:17] sparkcanon commented on #135
@h-michael I am using tsserver.
@justinmk fair play.

[2020-02-21 11:13] Jesse-Bakker commented on #134
@urandom the referenced commit is part of a larger PR adding code actions, which is not merged yet. I will see if I can extract it to a separate PR, as this is a useful change for most parts of the protocol dealing with edits

[2020-02-21 12:20] mcepl commented on #136
It doesn’t show with ``-u NORC``, but then it doesn’t show anything about ``health#nvim_lsp#check``. Isn’t it switched off as well, LSP being still a plugin?

[code]
My LSP configuration is https://gitlab.com/mcepl/vimdir/-/blob/master/plugin/lsp_servers.vim .

[2020-02-21 21:46] justinmk opened #139 "CI failure"
master is failing: https://github.com/neovim/nvim-lsp/runs/461200554

[code]

[2020-02-22 00:17] Shatur95 commented on #127
I have the same issue:
[![asciicast](https://asciinema.org/a/cYqE76najU1W6vDCqzopNRXgz.svg)](https://asciinema.org/a/cYqE76najU1W6vDCqzopNRXgz)

[2020-02-22 01:04] #139 closed

[2020-02-22 01:54] h-michael commented on #136
@mcepl Would you try [this branch](https://github.com/h-michael/nvim-lsp/tree/healthcheck) and show us `:checkhealth` result?

[2020-02-22 15:40] mcepl commented on #136
Please, give me a patch on the top of the neovim’s master branch, not something which 159 commits away. Thank you.

[2020-02-22 16:44] h-michael commented on #136
???
The branch I said is nvim-lsp repo. Not neovim itself.

[2020-02-22 18:16] mcepl commented on #136
Oh, f...k. Sorry.
[code]

[2020-02-22 22:22] justinmk commented on #136
- ERROR: sumneko_lua: config.cmd, nil, is expected 'table', but got nil

Nice, that looks better. String `cmd` is no longer allowed, it would require us to parse it. Must be a list now.

[2020-02-22 23:57] mcepl commented on #136
Where in the world you see that ``cmd`` option? You see my configuration for sumneko_lua above, there is no ``cmd`` option at all set.

[2020-02-23 00:17] h-michael commented on #136
@mcepl
https://github.com/neovim/nvim-lsp#sumneko_lua

[2020-02-23 08:02] mcepl commented on #136
Right, so you mean it is actually bug in nvim-lsp, not a PEBKAC?

[2020-02-23 15:20] agriffis opened #143 "[tsserver] tsserver works standalone, but not in project"
<table><tr><th>neovim version</th><td>

[ff1730373](https://github.com/neovim/neovim/tree/ff1730373c6139db14b8f2f9b24d4ccd7fcfb01d)

<details><summary>nvim --version</summary>

[code]

</details></td></tr><tr><th>nvim-lsp version</th><td>

[be0f715](https://github.com/neovim/nvim-lsp/tree/be0f71585eb3185b214c84c643e43e9647ef67d1)

</td></tr><tr><th>language server</th><td>

tsserver

</td></tr><tr

[2020-02-23 15:26] h-michael commented on #143
Will you install typescript? IIRC, typescript language server is tsserver wrapoer.

[2020-02-23 15:29] agriffis commented on #143
That did it, thanks!

My projects are JS not TS at the moment, so I hadn't installed typescript in them. But the typescript language server is used for both.

[2020-02-23 15:30] agriffis commented on #143
To be clear, this works:

[code]

[2020-02-23 19:02] urandom commented on #127
The biggest problem with this issue is that nvim-lsp will display internal lsp server errors as blocking messages, thus interrupting typing. Having diagnostics on incomplete statements, while annoying, is not disruptive.

[2020-02-23 19:13] Shatur95 commented on #127
If there are a lot of diagnostics, there is a visual bug: the text blinks and overwrites even after printing stops.

[![asciicast](https://asciinema.org/a/bqEtvRLP2jH3bdcSdvfyb7acR.svg)](https://asciinema.org/a/bqEtvRLP2jH3bdcSdvfyb7acR)

[2020-02-23 19:14] mfussenegger commented on #127
@urandom Could you call `:lua vim.lsp.set_log_level('trace')` when the issue appears and then take a look at the logs in `~/.local/share/nvim/vim-lsp.log` ? (or wherever `lua vim.lsp.set_log_level('trace')` points to).

I suspect the error message you get that interrupts typing isn't related to diagnostics at all, but rather is something sent to `window/showMessage`  - which is then calling https:

[2020-02-23 19:20] urandom commented on #127
There's quite a log of output being generated:

https://gist.github.com/urandom/53bccd1a28b0ef865fd82cad244b90af

The output is for when i start typing to some point after the error is displayed.

[2020-02-23 19:26] mfussenegger commented on #127
Well, my suspicion was almost right, it's `window/logMessage`, not `window/showMessage`:

[code]

`type = 1` is Error.

As a workaround you could set

[code]

[2020-02-23 19:41] urandom commented on #127
It doesn't seem like the workaround is working. It is still sending in a trailing newline, so it will be displayed immediately in a blocking manner, from what I understand.

[2020-02-23 19:46] mfussenegger commented on #127
Can you change the 2 lines to:

[code]

I missed initially that `protocol` and `api` are probably not assigned to some local variable.

[2020-02-23 19:47] urandom commented on #127
With that change I'm no longer seeing the error.

[2020-02-23 21:31] e-kwsm commented on #118
By applying #144,

1. Open `/tmp/a.py`:
[code]
2. On the bottom `f` execute `:lua vim.lsp.buf.rename()` and `New Name: g`

But I got [`Buffer  file:///tmp/a.py  newer than edits.`](https://github.com/neovim/neovim/blob/c036e24f39481f2b7872659c076b53435192003d/runtime/lua/vim/lsp/util.lua#L139)

Log related to rename is as follows:
[code]

* neovim: neovim/neovim@c036e24f39481f2b7872659c076b5343519

[2020-02-24 00:00] h-michael commented on #143
@agriffis Could I close this issue?

[2020-02-24 00:23] justinmk commented on #136
was the  sumneko config working for you as-is? If not, then checkhealth is doing its job I suppose.

[2020-02-24 04:26] h-michael commented on #136
This is not a bug. You should set `cmd` your own.

[2020-02-24 04:30] justinmk commented on #136
https://github.com/neovim/nvim-lsp#sumneko_lua mentions

but it would be more clear if we give an example of exactly what is expected. E.g.

[code]

[2020-02-24 15:18] teto commented on #136
The pcall call looks much better. We could also invite users to look at the logs upon LSP error.

[2020-02-24 18:34] #143 closed

[2020-02-24 23:26] Shatur95 commented on #127
@lithammer, made your solution works for me by changing this line:
[code]
into this:
[code]

Thank you! Would be nice to see such option built-in.

[2020-02-25 01:26] h-michael commented on #127
@urandom Would you try this branch? https://github.com/neovim/neovim/pull/11942

[2020-02-25 08:36] urandom commented on #127
Would that be with or without the other fix?

[2020-02-25 08:56] h-michael commented on #127
Yes.

[2020-02-25 09:01] urandom commented on #127
Yes is definitely not an appropriate answer for that question ;)

[2020-02-25 09:07] urandom commented on #127
An initial test (overriding the previous fix) doesn't show any errors. I'll keep using it throughout the day to see if anything turns up

[2020-02-26 03:08] gbrlsnchs commented on #115
What you want to run is a code action. "Organize imports" is one of the gopls code actions.

[2020-02-26 11:32] urandom commented on #134
fyi, tested https://github.com/neovim/neovim/pull/11927. renaming works with that change

[2020-02-26 20:49] sparkcanon commented on #69
@norcalli thanks for your snippet! It actually creates multiple quick lists with the same diagnostics. I don't suppose it should do that. A single quick fix list should be created for project-wide diagnostics and I assume multiple location lists for several buffers.
I am very new to Lua, although I have found it to be easier to understand and write. Here is my [lua config](https://github.com/spark

[2020-02-27 05:55] haorenW1025 opened #151 "diagnostic doesn't refresh when switching buffers"
- `nvim --version`: NVIM v0.5.0-378-gbb331a9b3-dirty
- nvim-lsp version: newest
- Operating system/version: Mac
- Terminal name/version: Alacritty 0.4.0
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup
I'm modifying the callback function to show diagnostic from location list like this
[code]

### Actual behaviour
I've found out that when switch between buffers, locat

[2020-02-27 11:15] K1DV5 commented on #130
I found mucomplete a little buggy and also felt that it does way more than what I need. So I made my own way:
[code]

* It shows suggestions from keyword completion first and requests omnifunc. If the omnifunc has any suggestions, the menu will be updated.
* It is triggered after at least two characters. But that can be changed by changing `chars`.
* At any time, if suggestions are not shown, you

[2020-02-27 11:19] Shatur95 commented on #130
The only thing I missing is braces auto-insertion for methods. Is this LSP feature?

[2020-02-27 11:32] K1DV5 commented on #130
I think so, yes.

[2020-02-28 02:17] mhartington commented on #151
@haorenW1025 I think this more of a neovim bug than an bug with this plugin. As the readme state, this is just a collection of lsp configs, not the actual lsp engine itself.

I'd suggest closing this here and opening an issue on neovim

[2020-02-28 08:06] e-kwsm commented on #118
neovim/neovim#11927 fixes the issue.

[2020-02-28 09:32] haorenW1025 commented on #151
Oh that actually make sense. Thanks a lot for the reply anyway.

[2020-02-28 09:32] #151 closed

[2020-02-28 19:36] hhoeflin opened #152 "Language server for R"
Really looking forward to this. I use R a lot, so support for the language server for R would be great.

https://cran.r-project.org/web/packages/languageserver/index.html

P.S. Rls is not a good name for the Rust language server config; I thought that would be for R.

Thanks

[2020-02-28 20:51] justinmk commented on #152
Send a PR. It's up to users to send configs here, we can't possibly manage configs for every ecosystem out there.

[2020-02-28 20:51] #152 closed

[2020-02-29 07:07] hhoeflin commented on #152
Ok - will look into it. But I still suggest to rename the lsp-server config that is currently there for rust, e.g. from rls to rustls

[2020-02-29 21:55] justinmk commented on #152
rls was rust's choice. But I agree, it's confusing. PR welcome!

[2020-03-02 05:05] Kyle-Thompson opened #154 "Globally change defaults"
Is there a way to change defaults for all servers in one place? For example, to get this working with ncm2 you need to add `on_init = ncm2.register_lsp_source;`. Given that I'll want this option added every time, is there a place to override the global defaults and include it? It should still be possible to override it again later for one particular server if a need arises, it would just be nice t

[2020-03-02 05:28] h-michael commented on #154
Would do you try this [PR](https://github.com/neovim/nvim-lsp/pull/149)?

[code]

[2020-03-04 04:33] TristanCrawford opened #155 "Can't override default config values in setup{}"
Possible duplicate of #70

Settings that aren't already in the default configuration are respected, but the others are not.

- `nvim --version`: v0.5.0-414-gfbc4c4fd3
- nvim-lsp version: master
- What language server(If the problem is related to a specific language server): texlab
- Operating system/version: Arch Linux
- Terminal name/version: st
- `$TERM`: st-256color

### How to reproduce the pr

[2020-03-04 15:27] urandom opened #158 "Option for automatically showing signature help when writing the signature"
Would it be possible to add a global option that automatically pops up the signature help, preferably only when there is signature help to be shown?

[2020-03-04 15:53] h-michael commented on #158
This plugin is only for client config, not for addtional callbacks and operations.

BTW, I write plugin for nvim built-in lsp.
This plugin includes autocmd for signature help.

https://github.com/h-michael/lsp-contrib.nvim

[2020-03-04 15:53] #158 closed

[2020-03-05 07:04] lifranc opened #160 "Separate 'build system' from runtime phase"
Is this a vim plugin or a build system?
Right now it tries to be the latter, and consequently cannot be installed by sane build systems such as nix.
[code]

Please separate your new build system project in a different repo, so that people who value *correctness* can use and contribute to a (potential) nvim-lsp *plugin* ...

https://github.com/NixOS/nixpkgs/pull/76109#issuecomment-594304817

[2020-03-05 07:48] h-michael commented on #160
@lifranc
Did you do only install this plugin and load it?

[2020-03-05 07:55] h-michael commented on #160
I want to see codes around line 9.
[code]

[2020-03-05 08:54] urandom commented on #158
@h-michael

even your plugin does not show signatures without problems. This appears to be a deeper problem, as its the same as when using cursorhold/cursormove. While typing, the signature popup steals "focus" and you end up navigating within the popup itself

[2020-03-05 09:53] h-michael commented on #158
@urandom Thanks for the report. Please create an issue in my repository if you like. I'll check it later.

[2020-03-05 12:09] bfredl commented on #160
What does "build system" mean here? Is any plugin with a bug a build system?

Could be an env issue. If you run `env`, is `/homeless-shelter` in any env var? (like for xdg config/cache).

[2020-03-05 15:05] timfeirg opened #161 "nvim_lsp.pyls.setup{} breaks fugitive functionality"
- `nvim --version`: v0.5.0-nightly-1640-g2b00d1d09
- nvim-lsp version: 78b16eb3623c1c0d4433ca8e09c2cb661fa1a852
- What language server(If the problem is related to a specific language server): [N/A]
- Operating system/version: Mac OS
- Terminal name/version: Iterm2
- `$TERM`: xterm-256color-italic

### How to reproduce the problem from neovim startup

1. open up neovim using this minimal .nvimrc:

[2020-03-05 15:07] timfeirg commented on #161
moreover, if I remove the lua heredoc from my minimal vimrc, the problem is gone.

[2020-03-06 04:26] lifranc commented on #160
@bfredl Any plugin that tries to mkdir when loading is trying to be a build system

[2020-03-06 04:34] lifranc commented on #160
Dont talk to me like im some fucking idiot

[2020-03-06 22:32] mjlbach commented on #160
For those not aware, nix is an alternative package manager/basis for a linux distribution with some nice properties, but does require writing a custom build file (derivation) for each module.

@bfredl this looks like it might be an error with the nix derivation, I don't think it's necessarily an issue for nvim-lsp. I use/have contributed to nix, but don't manage my neovim plugins with it. I'm happ

[2020-03-07 05:17] lifranc commented on #160
I began writing my own solution even before opening this issue. As you imply, most people arent interested in a correctly built OS, as it's 'too much work'. Take this more as a 'tip'. Look, vim-lsp project has the right idea, with their 'homegrown build system' in a different repo than the plugin itself: https://github.com/mattn/vim-lsp-settings

[2020-03-07 06:10] norcalli commented on #160
@lifranc Nothing you've said so far has been anything near a "tip" because that would imply constructive criticism. Considering that repository was created after nvim-lsp, I'm guessing it was inspired by this one. And the "homegrown build system" is entirely optional as is `nvim-lsp` itself. The built-in neovim lsp is what is required, and is already complete. This repository is *exactly* like the

[2020-03-07 08:13] bfredl commented on #160
@lifranc No, this is simply just false. The directory it tries to create is just `$HOME` (likely because it needs to `mkdir -p` a cache dir beneath it). _A lot_ of software assumes it can store cache and config beneath `$HOME` (or better explicitly the XDG config vars), all these programs are not build systems.

My point was just that you cannot derive _intentions_ (be a build system) from potenti

[2020-03-07 08:57] bfredl commented on #160
@mjlbach What is the reason that nix tries to load neovim plugins at all during `nix-build` ? Is this some kind of sanity check that the plugin is working? Does nix packages in general try to run the software as part of the packaging process (even if there is no explicit "test" make target)?

[2020-03-07 09:30] K1DV5 opened #164 "Can't get tsserver to work"
- `nvim --version`: NVIM v0.5.0-397-g96059d72e
  Build type: RelWithDebInfo
  LuaJIT 2.1.0-beta3
- nvim-lsp version: 7c2bc9a
- What language server(If the problem is related to a specific language server): tsserver
- Operating system/version: Windows 10 1903
- Terminal name/version: windows console
- `$TERM`: vtpcon

### How to reproduce the problem from neovim startup

- After `npm install -g typ

[2020-03-07 22:27] justinmk commented on #160
We could at least make it more lazy, it's unlikely we need to do this at load-time.

I am guessing this is the offending code:

https://github.com/neovim/neovim/blob/f8f41d088b2b7b503f638ce8930bedb32c0d32c5/runtime/lua/vim/lsp/log.lua#L34

We could be a bit more lazy. But if we need to write to a log, where should it go? Is creating files also verboten? (Why or why not?) We are trying to log to XD

[2020-03-08 02:20] lifranc commented on #160
Loading the plugins is past the build phase. Forget about nix, my point is; separate your build phase from your runtime phase, which, in my world means spinning up another git (I have gits with a dozen LoC). If you want to create a daemon (write a log), that's different from a vim plugin.

My context, for those interested:  Im putting together a nixos fork which goes for complete purity. Essential

[2020-03-08 02:25] lifranc commented on #160
https://github.com/NixOS/nixpkgs/pull/53084

[2020-03-08 02:39] lifranc commented on #160
You're right, but my goal is to do a lot better than that. Right now, any new process could write in places it has no business writing into. That's incorrect. Correctness, and not *specs*, is the better guide. The lua VM can hold state, so why not put all your lua code's state right there? *Persistent state* is a build-phase thing, so any changes there basically consist in rebuilding.

Correctness

[2020-03-08 03:22] h-michael commented on #164
Does your project's package.json includes `typescript`?
`typescript-language-server` needs `tsc` command.
If not, you should add `typescript` to your package.json or execute `npm install -g typescript`.

[2020-03-08 03:35] lifranc commented on #160
This is quite insane. Nvim now has an embedded daemon. *Sigh* ...  Im closing, cause some ships arent worth saving. Going back to vim-lsp after learning yet another pointless pseudo-programming language to fix more insane, untyped and barely readable stuff. Millions of programmers and yet not a single real programming framework in existence today. Keep writing more obsolete stuff, and keep booing

[2020-03-08 03:35] #160 closed

[2020-03-09 06:55] K1DV5 commented on #164
I tried both installing `typescript` globally and locally, but it didn't work. I also installed the `typescript-language-server` and `typescript` to the folder the automatic installer would install to (from `:LspInstallInfo`) if it worked but still doesn't work. Same error.

[2020-03-09 06:59] K1DV5 commented on #164
Sorry about the closing, chrome's dark mode made the button text unreadable.

[2020-03-09 10:06] h-michael commented on #164
@K1DV5 Would you paste the result of executing `:lua print(vim.inspect(vim.lsp.buf_get_clients()))` after the error.

[2020-03-09 11:32] K1DV5 commented on #164
Weird, its `{}`

[2020-03-09 17:14] h-michael commented on #154
resolved #149

[2020-03-09 17:14] #154 closed

[2020-03-09 18:13] mcepl commented on #136
Or perhaps even example or slightly more complete configuration:
[code]

[2020-03-13 19:20] mezeipetister opened #167 "vim.uri not found"
Hi Guys,

I have just downloaded nvim5.0 and started to install nvim-lsp via Plug but I got this error:

[code]
Do you have any idea what can be wrong?

This is my init.vim

[code]

[2020-03-15 03:00] gavynriebau commented on #167
@mezeipetister I had the same problem after making a mistake when installing by manually copying files extracted from the `.tar.gz` release file.

You can confirm whether your issue is the same by running

[code]

If the directory doesn't contain a `uri.lua` file you probably also made a mistake.
You can fix it by copying the files again, e.g.

[code]

If this doesn't work for you I'd suggest test

[2020-03-15 10:40] mezeipetister commented on #167
I uninstalled nvim, added the dev ppa and installed it via the dev ppa. Now I have nvim5.0-dev and it works well.

[2020-03-16 05:45] glacambre opened #170 "Allow Lua patterns as root pattern"
Note: this isn't a bug but the issue template selection menu doesn't offer anything else.

As far as I can tell, `util.root_pattern()` expects a string rather than a pattern:
https://github.com/neovim/nvim-lsp/blob/56a9268de428acee307f67fc11c08b575e96004c/lua/nvim_lsp/util.lua#L270-L282
Because the `exists()` function it calls uses fs_stat, which I believe expects a string:
https://github.com/neov

[2020-03-16 09:44] unphased opened #172 "Unclear documentation for how to set a specific option"
I'm trying to use `ccls` with nvim-lsp, and I've gotten as far as it loading up and displaying the same behavior as the default config as seen through coc.nvim. Now, I was just now able to *FINALLY* work out how to get ccls from homebrew functioning for macOS, the issue I was stuck on for months was the need to set

    "clang": {
      "extraArgs": ["-isystem", "/usr/local/Cellar/llvm/9.0.1/inclu

[2020-03-16 10:02] unphased commented on #172
Sigh. Well it was easy enough to get it working using a .ccls file, but this is less scalable than global configuration.

[2020-03-16 18:24] pyrr opened #173 "How does :LspInstall work ?"
This is not really and issue I'm just confused as to how should I install lsps with this plugin after installing it.

[2020-03-17 01:38] h-michael commented on #134
@urandom May I close this issue?

[2020-03-17 08:58] urandom commented on #134
I'll install the next nightly which will contain the pull request and give it another test, then come back

[2020-03-17 20:52] urandom commented on #134
Unfortunately, the error still occurs. I was able to rename a few things, but after that, the same error is being shown.

[2020-03-18 21:57] donotnoot commented on #134
I tried the fix, and I'm experiencing the same as urandom, it stops working after a while.

[2020-03-19 05:38] h-michael commented on #134
@urandom @donotnoot
I can't reproduce it.
Would you show me a test project and a config?

[2020-03-19 05:47] h-michael commented on #167
@gavynriebau Thanks following up :)

[2020-03-19 05:47] #167 closed

[2020-03-19 09:05] urandom commented on #134
@h-michael
Consider the following dummy code:
https://play.golang.org/p/N9sO9cbwz1d

Rename the first variable `resp` to something, then save. If you try to rename the `err` variable afterwards (or anything else for that matter), you'd get an error. It seems the problem is tied to saving the buffer.

[2020-03-19 13:26] Jesse-Bakker commented on #134
When I try to reproduce the bug, I get a segfault in gopls on the second rename. Is that the error you are experiencing, or is it still just the "buffer version" one? Also, what version of gopls are you using?

I have possibly found the source of the bug, but I need to investigate a bit more using a setup closer to yours.

[2020-03-19 15:18] urandom commented on #134
@Jesse-Bakker  it's just the buffer version one. Gopls is at 0.3.3. It seems to always be reproducible after the file has been saved, regardless of whether there were renames before.

[2020-03-20 01:30] h-michael commented on #134
@urandom I could reproduce it. I'll investigate the cause.

[2020-03-20 09:49] Jesse-Bakker commented on #134
I found out why I got a segfault. It happens when renaming the `err` variable to `error`, which is a built-in interface. Will file a bug in the golang project.

With:
[code]
and the posted snippet, I cannot reproduce the bug. Renaming just works.

[2020-03-21 05:39] #173 closed

[2020-03-21 05:40] h-michael commented on #173
I fixed this. Try latest master branch.

[2020-03-21 07:01] h-michael commented on #161
This is because the buffer name created by fugitive-vim does not actually exist on the file system, so it seems that an error occurs when trying to auto-detect the lsp root directory from that buffer name.

[2020-03-22 05:18] h-michael commented on #155
@TristanCrawford Can this(#178) solve this issue?

[2020-03-22 13:09] timfeirg commented on #161
should I move this issue to fugitive space?

[2020-03-23 03:12] h-michael commented on #161
@timfeirg Would you try this branch?
https://github.com/neovim/nvim-lsp/pull/179

[2020-03-23 04:17] timfeirg commented on #161
just tried 83da1868b42af72710eef22eb94a89ba42986fe4, `:Gsplit` got a different error this time:

![image](https://user-images.githubusercontent.com/4319104/77280757-2536d700-6d00-11ea-9b95-8986b1089223.png)

[2020-03-23 04:21] h-michael commented on #161
@timfeirg oh I'm sorry. log module is not exposed.
I'll create PR to nvim and then it'll work.

[2020-03-24 00:56] h-michael commented on #161
@timfeirg I've fixed PR.

[2020-03-24 06:11] timfeirg commented on #161
indeed fixed, this is life-saving, thanks!

[2020-03-24 06:11] #161 closed

[2020-03-24 16:04] K1DV5 commented on #164
@h-michael any news yet?

[2020-03-25 15:12] #155 closed

[2020-03-26 03:13] h-michael commented on #164
@K1DV5 Can you use other language servers?
Does it occur with only typescript-language-server?

[2020-03-26 08:22] K1DV5 commented on #164
Yes, texlab and pyls work just fine. Only tsserver is not working.

[2020-03-29 13:19] K1DV5 commented on #164
@h-michael I just found the problem. On Windows, the binary for `typescript-language-server` is not really a binary (.exe file) but a batch file (.cmd). That means it cannot be found with just the name `typescript-language-server` as a normal binary by nvim/libuv. Simply changing the command to `typescript-language-server.cmd` solved the problem. Now this change can be made permanent in the config

[2020-03-31 22:52] ttttcrngyblflpp commented on #127
What should I add to my configuration if I want to hide all diagnostics? I'm having the same issue where clangd is warning me about syntax errors on every character typed.

[2020-03-31 23:42] ttttcrngyblflpp commented on #127
To answer my own questiong, setting `textDocument/publishDiagnostics` to a function that does nothing seems to do the trick.

[2020-04-03 11:43] jwmng opened #185 "lua commands remain undefined on Windows"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): Not sure, latest from `vim-plug` as per today

- `:checkhealth` result
[code]

- What language server(If the problem is related to a specific language server): I tried only  `pyls_ms` as the others require npm/mkdir
- Operating system/version: Windows 10 build 1809
- Terminal name/version: I'm using nvim-qt
- `$TERM`: n/a

### How to repr

[2020-04-03 23:16] matu3ba opened #186 "Rust-analyzer can not be started on current nightly nvim"
- `nvim --version`:
NVIM v0.5.0-418-g87d892af
- nvim-lsp version(commit hash):
d87c037dd309a2de03739bd866bcbf22fc1d838
- `:checkhealth` result
  - ERROR: rust_analyzer: The given command "rust-analyzer" is not executable.
- What language server(If the problem is related to a specific language server):
  - rust_analyzer
- Operating system/version:
  - Manjaro 19.0.2 (Arch derivative)
- Terminal nam

[2020-04-06 08:00] h-michael commented on #186
@matu3ba Can you execute `rust-analyzer` in your shell?

[2020-04-06 21:14] phelipetls commented on #152
I managed to get it working with this

[code]

If this is fine, I'll try to make a pull request soon.

[2020-04-06 23:34] matu3ba commented on #186
The executable for the server from github is called `ra_lsp_server`, but this plugin expects to find `rust-analyzer`.

I tried a solution without renaming the executable provided by the examples:
[code]

However this returns
LSP[rust_analyzer] rust-analyzer failed to load workspace: can't load standard library from sysroot
$HOME/.rustup/toolchains/1.39.0-x86_64-unknown-linux-gnu/lib/rustlib/src/ru

[2020-04-07 00:19] h-michael commented on #186
ra_lsp_server is old command name.
It was renamed to rust-analyzer.
So you should install or uodate latest rust-analyzer command.
See https://github.com/neovim/nvim-lsp/pull/128

[2020-04-07 01:49] matu3ba commented on #186
Thanks.

[2020-04-07 01:49] #186 closed

[2020-04-07 09:04] jwmng commented on #185
So I did some extra tests.
Apparently the `:LspInstall` is not completely working for windows.
Also, I cannot call `nvim_lsp#setup()` from `init.vim`, which seems to be normal (as the docs recommend using the lua configuration).

Added this to `init.vim`:
[code]
When I now open a python file I get the same error message as in #136 .

[2020-04-08 00:19] unphased commented on #172
I was able to make the https://github.com/jackguo380/vim-lsp-cxx-highlight plugin work by using this clue from:
https://github.com/neovim/nvim-lsp/issues/70#issuecomment-565237134
for the initialization options. However the ability to set extraArgs is still nowhere to be seen.

[2020-04-08 20:48] cideM opened #187 "Both `gopls` and `yamlls` stopped working"
[code]

[code]

Running `tmux` in `alacritty` on `Linux 5.6.2-arch1-2 x86_64`.

I copy & pasted some code from my dotfiles git history to re-enable the `nvim` LSP but for some reason nothing works, but there are no errors either.

I'm installing it with `minpac`

[code]
Then in `.config/nvim/after/ftplugin/go.vim` I do
[code]
and when I open a `.go` file in a project where every other LSP plugins

[2020-04-09 03:28] yikkai95 commented on #187
can you try this instead `lua require('nvim_lsp').gopls.setup{}`

[2020-04-09 07:58] cideM commented on #187
Tried it but doesn't help

[2020-04-09 11:51] cideM commented on #187
Okay another update: it only works when I open a second file. Opening the 1st go file -> nothing happens. Opening a second go file -> suddenly the language server works

[2020-04-10 04:31] mjlbach commented on #185
I added the microsoft python language server, as I mainly develop on linux/mac we agreed at the time to merge without windows support. I can help debug this a bit; essentially all LspInstall does is fetch the nupkg with curl and extract it. If you check in the cache directory you listed, do you see the files propely extracted? The other thing to check is if dotnet exec MicrosoftPythonLanguageServe

[2020-04-10 08:34] jwmng commented on #185
Hi,

The install dir remains empty. I tried to run some of the commands in the script by hand and it seems like the `curl` call is failing because windows' curl command is a wrapper for `Invoke-Webrequest` that takes very different (non-unix) arguments,
In this order:
1. `get_latest_pyls()` returns `nil` as the plain `curl` call returns a status rather than data.
  `(curl %s).Content` seems to giv

[2020-04-10 08:39] mjlbach commented on #185
Thanks for the detailed writeup, I just added get_latest_pyls() recently but didn't test it on Windows. For now, I can manually add separate download/extracting logic under the windows option. Once you've added manually downloaded and extracted it, is everything else working?

[2020-04-10 08:51] jwmng commented on #185
Yes it works fine with the following config:
[code]

[2020-04-10 16:56] cideM commented on #187
This was my mistake. Calling the `lua require'nvim_lsp'.gopls.setup{}` in an `after/ftplugin` file was starting the `gopls` too late. I don't know what `gopls.setup{}` does, but I suspect it merely registers the fact that I have this LSP installed and setup, it doesn't start it right away. I'm assuming this command will do trigger some autocommands that run for certain file types. Anyways... by ca

[2020-04-10 16:56] #187 closed

[2020-04-16 05:33] doronbehar opened #190 "configs.lua nil value error when using gopls.setup{} as in README"
- `nvim --version`: master from 9 hours ago.

[code]

- nvim-lsp version(commit hash): current master - `b6dc2ae6a95051e93486224481b80cb5b446dcc3`.
- `:checkhealth` result:

[code]

- What language server(If the problem is related to a specific language server): gopls
- Operating system/version: NixOS
- Terminal name/version: rxvt-unicode + tmux
- `$TERM`: `tmux-256color`

### How to reproduce the

[2020-04-20 00:38] saltdotac commented on #143
Wanted to add for posterity that I had the same issue today. I just needed to do a global install of typescript to get it working. `npm install --global typescript`

[2020-04-20 16:25] cideM opened #191 "Add ability to conditionally add language server configuration if not defined"
[code]

- nvim-lsp version(commit hash): `b6dc2ae6a95051e93486224481b80cb5b446dcc3`

- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server): custom
- Operating system/version: Manjaro
- Terminal name/version: Alacritty
- `$TERM`: `xterm-256color`

### How to reproduce the problem from neovim startup
Paste this into `init.vim`, taken from the

[2020-04-20 21:21] dlukes commented on #69
Thank you for the snippet! However, either `set_qflist` has changed, or the format of the diagnostics tables, so I had to tweak it a little bit to get it to work:

[code]

If anyone else ends up needing to tweak this: figure out the structure of the diagnostics tables by putting `print(vim.inspect(v))` inside the for loop (you might have to run `:messages` to display the results). Run `:help setqf

[2020-04-20 22:27] dlukes commented on #115
The formatting params in https://github.com/neovim/neovim/blob/9678fe4cfba9f7a9dacbd6d5a56c58241e98aa60/runtime/lua/vim/lsp/buf.lua#L73-L85 could be extracted into a helper function, and there could be an additional `formatting_sync` function. Something along the following lines:

[code]

This would allow formatting to be run synchronously on `BufWritePre` (possibly increasing the default 100ms ti

[2020-04-20 22:35] dlukes commented on #152
@phelipetls Thanks, that helped me out as well! Maybe try starting that pull request and move the discussion there?

[2020-04-21 07:51] h-michael commented on #191
@cideM Does #192 fix this?

[2020-04-21 08:49] dlukes commented on #115
Would you be willing to accept a PR adding a `formatting_sync` function to `vim.lsp.buf`? Or do you feel that a more general solution is needed, since there are other actions which might need to be run in a synchronous fashion (e.g. on save), like that "organize imports" code action of `gopls`?

[2020-04-21 13:28] teto commented on #97
@h-michael do you feel like tackling https://github.com/neovim/nvim-lsp/issues/97#issuecomment-583717327 ?

[2020-04-21 14:47] cideM commented on #191
It does not @h-michael still seeing the same error

[2020-04-22 06:12] glacambre opened #193 "Can't set init_options for ALS"
- `nvim --version`:  v0.5.0-445-gca02db1f9
- nvim-lsp version(commit hash): 39b743b9b36be26a5e58278d7608fe456a0ad3f8
- `:checkhealth` result:
[code]
- What language server: Ada Language Server (ALS)
- Operating system/version: Linux 5.3.0-46-generic Ubuntu
- Terminal name/version: kitty 0.13.1
- `$TERM`: xterm-kitty

### How to reproduce the problem from neovim startup
- Create empty files names `

[2020-04-22 06:38] glacambre commented on #193
Actually, it looks like this the setting I'm trying to set isn't an InitializationOption:
https://github.com/AdaCore/ada_language_server/blob/01808399b01849b83367722f0fa1ff6aaac5781a/source/protocol/lsp-messages.ads#L3194

It looks like it is instead transmitted with a DidChangeConfiguration notification:
https://github.com/AdaCore/ada_language_server/blob/2215d7ac15473296b7da31f7e349598d0a6a9b01/

[2020-04-22 07:59] matklad opened #195 "Default display of diagnostics is disruptive"
- `nvim --version`:
[code]

- nvim-lsp version(commit hash): don't know, installed today with vim-plug
- `:checkhealth` result: everything seems ok except for missing python/ruby/node/perl
- What language server:  rust-analyzer
- Operating system/version: NixOS 20.03
- Terminal name/version: `kitty 0.16.0 `
- `$TERM`: xterm-kitty

### How to reproduce the problem from neovim startup

* install nvi

[2020-04-22 08:02] matklad commented on #195
I also like how IntelliJ does this: it uses red squigly for the text span, and than it displays the actual syntax error message in the modline.

[2020-04-22 14:02] dlukes opened #196 "Can't inspect LspInstall errors"
Because the `sh` utility function always closes the output buffer:

https://github.com/neovim/nvim-lsp/blob/39b743b9b36be26a5e58278d7608fe456a0ad3f8/lua/nvim_lsp/util.lua#L430-L432

Maybe only call `bwipeout` if the shell script exited successfully? Or if that's too complicated, leave it around for the user to delete? It's better than hiding useful feedback on error imho :)

[2020-04-22 14:18] teto commented on #195
either you can assign a fixed width to your signcolumn or you can choose to disable mark creation in lsp. https://github.com/haorenW1025/diagnostic-nvim is helpful to tweak this. Maybe the default should be changed to be less disruptive.

[2020-04-22 14:34] matklad commented on #195
Indeed, `set signcolum=yes` fixes the most problematic issue for me, thanks. Is there perhaps a similar easy config to move virtual text (?) of error message to an area not directly adjacent to the editor code?

And yes my +1 vote to make the default behavior more useful.

[2020-04-22 14:40] teto commented on #195
I don't like virtualtext either (on small screen I can't read the message). You can disable it with the aforementioned plugin. I use popups instead.

[2020-04-22 15:17] tjdevries opened #200 "Feature: Provide "Update" callback for servers"
Servers are constantly evolving and getting better, we should make it easy to update (even if it's just delete the folder and install again) for servers.

@teto Thoughts?

[2020-04-22 15:20] tjdevries commented on #196
Checking the exit code would be a good option here. Would you be interested in making the PR? I think it's possible to figure out how to check the exit code from these docs: https://github.com/luvit/luv/blob/master/docs.md

If not, it'd be a good first issue for someone else. Thanks for reporting.

[2020-04-22 15:23] tjdevries commented on #193
Hm, maybe in the `on_attach` callback? I didn't look closely, but that might be a good place to start.

[2020-04-22 15:34] teto commented on #200
I am thoroughy against it xD It's the role of a package manager to keep the software up to date. I imagine this will be an endless source of bug reports/pull requests and we just don't have the resources to deal with all the edgecases, bump our software to deal with all the langague server updates

[2020-04-22 15:34] dlukes commented on #196
Thanks for the pointer! I would've tried a PR but I wasn't really sure how to get at that exit code, I helpgrepped the docs for `spawn` but couldn't find anything relevant :) I'll have a look at that link and see what I can do.

[2020-04-22 15:53] tjdevries commented on #200
Maybe I didn't make myself clear. I don't think WE should write complicated update scripts. However, we provide "Install" scripts and then after you install them, it's difficult to figure out what should be done to update the server. For example, update for any of the JS servers would probably just be "cd $install_location; npm update" or something like that.

[2020-04-22 15:55] tjdevries commented on #196
No problem -- I'm pretty sure that `vim.loop` is just the loop from `luv` which is built on `libuv`. I could be wrong about that, but so far it's worked for every problem I've encountered with it haha :)

[2020-04-22 16:20] DanCardin commented on #200
fwiw, i just went looking for how to do this and found this issue.

I would be happy with `:LspUninstall foo` (basically just deletes the folder given to me by `:LspInstallInfo`), or `:LspReinstall` (uninstall + install).

[2020-04-23 03:23] theJian commented on #200
uninstall + install would be an easy way to implement this. Providing an update command means nvim-lsp have to know how every package manager updates their packages, even it is simple like "cd $install_location; npm update".

[2020-04-23 06:11] glacambre commented on #193
Nvim-lsp already sends didChangeConfiguration notifications:
https://github.com/neovim/nvim-lsp/blob/68873604e1cbadf784e864c4ff08ff1735ca9be2/lua/nvim_lsp/configs.lua#L125

You just need to set the `settings` key instead of `init_options`. So this should work:
[code]
But it doesn't.

Adding
[code]
Right before this line:
https://github.com/neovim/neovim/blob/6c9a5743a0c296e74a48368a65783b9d49e6f70

[2020-04-23 06:14] glacambre commented on #193
Ah reading, `settings` should actually be `{ ada = { projectFile = "a.gpr" } }`! LanguageClient-Neovim's config file is weird.

I guess the only remaining issue I have with nvim-lsp is the blocking errors that spawn on every keystroked then :).

[2020-04-23 17:52] thchha commented on #200
I just started contributing, but when adding support for the first server, I also stumbled upon this functionality. I do not like the fact that we even bother with installing language servers. There are already plugin-managers a user can opt-in to. I think the installation is not transparent (but convenient) to the user, updating is not taken care of and the additional complexity when fully suppor

[2020-04-24 00:27] teto commented on #200
@norcalli @h-michael I am of the opinion of @thchha : lets remove LspIntall/Uninstall. But you are the main maintainers here so that's your call, I just know I would not like to deal with such code.

[2020-04-24 05:21] h-michael commented on #200
I personally like to remove the functionality of the installer.
I think the language server manager's functionality should be separate from config (and I think it should be generic rather than Nvim's plugin).

[2020-04-24 07:24] theJian opened #206 "Npm install language server in wrong directory"
- nvim-lsp version(commit hash): d16b49e
- What language server(If the problem is related to a specific language server):
  It is related to language servers installed by npm.

### How to reproduce the problem from neovim startup

1. Create a package.json in the home directory.
2. Run :LspInstall \<language-server-installed-by-npm\>

### Actual behaviour

Install failed.
nvim-lsp looks up `.cache/

[2020-04-24 07:30] theJian commented on #206
There is a proposal to remove installing server #200 . This issue can be automatically resolved if nvim-lsp no longer install server for users.

[2020-04-24 08:49] dlukes opened #207 "Send nvim_lsp.util.sh output to a more terminal-like destination"
Following up on the discussion in #201, currently, `nvim_lsp.util.sh` sends its output to a regular buffer, but it would be nice if it used a more terminal-like destination instead. As it stands, using e.g. `curl` with a progress bar appends all the progress bar states one after the other, separated by `^M`s.

I can think of two ways to achieve that:

1. Use the same destination as `:!` uses. That

[2020-04-24 08:53] dlukes commented on #207
Ironically, that neovim/neovim#7607 issue I linked is gravitating towards a solution where a Lua version of `jobstart()` would basically wrap `vim.loop.spawn`, which is exactly the solution currently used by `nvim_lsp.util.sh` :)

[2020-04-24 09:00] dlukes commented on #207
Also, I tried setting the `buftype` of the output buffer to `terminal` with `vim.api.nvim_buf_set_option(bufnr, "buftype", "terminal")`, just to see if that would work (it would be the simplest, smallest change), but that doesn't seem to be allowed (it fails with `E474: Invalid argument`).

[2020-04-24 12:52] dlukes commented on #207
So #208 is my attempt to address this. I think the desired UX is mostly there, simply courtesy of the builtin terminal. The downside is that it has to use a global VimL function as the `on_exit` callback (see the PR for details why), which is ugly and potentially brittle.

[2020-04-25 10:38] ckipp01 commented on #200
Just throwing another maybe wild idea out there, but I think it's also worth asking what the actual value of this repo becomes if it _only_ contains a way to configure a language server. I'm not saying there is not value in that, but I wondering if there is a way to make it even more valuable than that?

What if instead of this being a collection of various configurations it just became a repo tha

[2020-04-25 12:58] #134 closed

[2020-04-25 13:39] teto commented on #200
As far as I am concerned, it can't be successful at managing installations ever since packaging is too hard.

It's true that this repo does little. I wish we eventually can use nvim's lsp easily out of the box without installing this plugin (during lsp development, the split allowed to iterate faster maybe). It will still  have value in sharing examples on how to configure nvim, the supported lsp

[2020-04-25 15:59] thchha commented on #200
I think I get your point @ckipp01: You want your users to seamlessly integrate your server into neovim (read any client), that shall be much appreciated! I like how both our answers are very opinionated :smile:

This repo already provides a [configuration skeleton](https://github.com/neovim/nvim-lsp/blob/d1507239df1d9f2758f1ad75634046c4d024cfd8/lua/nvim_lsp/metals.lua#L51-L55) a server maintainer

[2020-04-25 16:45] ckipp01 commented on #200
You nailed it. 😆

For real, yes, that's a goal I'm sure everyone can agree on.

I'll clarify that I totally agree. This should never be automatically upgraded. What I more meant to say was that in our other clients we make it crystal clear that when a new version of the server is out, the user gets notified, and with one click, they can update to the newest. That's ideal in my mind. However, I als

[2020-04-27 01:32] justinmk commented on #200
good point. Personally I've not used `:LspInstall`, I think users get almost as much value simply by some suggestions in the docs like (`npm install foo`).

`:LspInstall` was always a best-effort thing, we tried to make this clear, but it sounds like there are not many voices in favor of it.

[2020-04-27 01:33] justinmk commented on #206
`:LspInstall` is strictly best-effort. PRs are welcome for improvements but we don't support it. meanwhile covered by https://github.com/neovim/nvim-lsp/issues/200 as you noted.

[2020-04-27 01:33] #206 closed

[2020-04-27 01:38] justinmk commented on #193
👍 definitely in favor of that, need to track down the code doing that echo...

[2020-04-27 01:41] justinmk commented on #191
"foo" is a common term in computing that means "example". There is no actual "foo" module, it is expected to put an actual module there. I guess the documentation can be improved though.

[2020-04-28 03:48] #207 closed

[2020-04-28 06:17] dlukes commented on #196
Addressed by #208.

[2020-04-28 06:17] #196 closed

[2020-04-28 13:39] nerosnm opened #212 "Error executing vim.schedule lua callback: Vim:E155: Unknown sign: LspDiagnosticsErrorSign"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): don't know, installed through `vim-plug`
- `:checkhealth` result: All ok except an error about `$TERM` and missing Python 2 (but 3 is fine)
- What language server(If the problem is related to a specific language server): rust-analyzer
- Operating system/version: macOS Catalina 10.15.3 (19D76)
- Terminal name/version: Alacritty 0.4.2 (f68d

[2020-04-28 13:40] nerosnm commented on #212
I also just noticed that this error apparently prints out to the terminal as well as just being displayed inside `nvim`.

[2020-04-28 18:05] cideM commented on #191
Still fails with the same error message with this code

[code]

[2020-04-29 00:04] gbrlsnchs commented on #115
I think there's a reason why a `formatting_sync` equivalent exists in most LSP clients: **many** people use it. I'm not a Neovim maintainer, but IMO, it would be a nice addition to the official API. Otherwise people will either have to implement the function themselves or use a third-party plugin.

[2020-04-29 19:32] GoldsteinE opened #213 "vim.lsp.buf.references() not working with pyls, rls and clangd"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash):
`d1507239df1d9f2758f1ad75634046c4d024cfd8`
- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server):
pyls, rls and clangd at least
- Operating system/version:
Arch Linux
- Terminal name/version:
Alacritty v0.4.2-1
- `$TERM`:
`xterm-256color`

### How to reproduce the problem from neovi

[2020-04-29 19:39] GoldsteinE commented on #213
Fixed it with updating to HEAD.

[2020-04-29 19:39] #213 closed

[2020-04-30 03:58] nerdrew opened #214 "Usability question: how do you add settings for rust_analyzer?"
E.g. how can I disable `rust-analyzer.completion.addCallArgumentSnippets`? I've tried these two versions (both are just inline in the settings):

[code]

Neither seems to do anything.

Sort of related to https://github.com/rust-analyzer/rust-analyzer/issues/2344

[2020-04-30 07:22] incoggnito opened #215 "No python LSP client attached to the buffer"
I'm not sure if the problem is nvim-lsp specific.

- `nvim --version`:
[code]

- nvim-lsp version(commit hash):
622543a5ecfd78cfaa0041ee7aa28c72658ac44c

- `:checkhealth` result

[code]
- What language server(If the problem is related to a specific language server):
pyls

- Operating system/version:
`Arch Linux 5.6.7-arch1-1`

- Terminal name/version:
`alacritty 0.4.2`

### How to reproduce the pr

[2020-04-30 18:14] GoldsteinE opened #216 "Seems like custom root_dir function is not called for pyls"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash):
`913579facce05f0069b9378c046150f635aba1b1`
- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server):
pyls
- Operating system/version:
Arch Linux
- Terminal name/version:
alacritty 0.4.2
- `$TERM`:
xterm256-color

### How to reproduce the problem from neovim startup
In `init.vim`:
[code

[2020-05-01 05:35] justinmk commented on #215
The configs here are best-effort, we don't provide support for them.

If you have an improvement send a PR.

[2020-05-01 05:35] #215 closed

[2020-05-01 20:51] mjlbach opened #217 "Microsoft Python Language Server: No method by the name 'textDocument/formatting' is found."
- `nvim --version`: 0.5.0 nightly
- nvim-lsp version(commit hash):
- `:checkhealth` result
- What language server(If the problem is related to a specific language server):
- Operating system/version: Fedora 32
- Terminal name/version: Gnome Terminal 3.36
- `$TERM`: xterm-256color

I'm leaving this bug report for myself to fix (and in case anyone has issues and stumbles across it), I'll try to get

[2020-05-03 04:50] h-michael commented on #97
@teto I'll try this this weekend.

[2020-05-03 19:45] #217 closed

[2020-05-04 05:17] h-michael commented on #214
How about this?
[code]

[2020-05-04 06:08] lithammer commented on #214
That's not valid Lua. Since there's a dash in `rust-analyzer` it has to be `['rust-analyzer']`.

[2020-05-04 06:17] h-michael commented on #214
OK, I'll debug with rust-analyzer tonight.

[2020-05-04 16:37] tjdevries commented on #214
@h-michael He's just saying that you need to pt `rust-analyzer` in the Lua way of specifying special strings or items (which is `['rust-analyzer']`). I think your suggestion is good.

[2020-05-04 16:56] tjdevries commented on #115
@dlukes I think that would make a good PR where we can talk about where that should live and how we can add improvements like this. If you make the PR and place it somewhere sensible to start, we can chat about it in that PR (which would be a better place).

(As a note, the PR would be on neovim, not nvim-lsp. Just to be clear)

[2020-05-04 20:18] PanagiotisS opened #219 "fortls configuration documentation"
- `nvim --version`:
[code]
(from https://copr.fedorainfracloud.org/coprs/agriffis/neovim-nightly/)

- nvim-lsp version(commit hash): 622543a5ecfd78cfaa0041ee7aa28c72658ac44c

- `:checkhealth` result

[code]

- What language server(If the problem is related to a specific language server): `fortls`
- Operating system/version: `Fedora release 31`
- Terminal name/version: `gnome-terminal.x86_64 3.34.2

[2020-05-04 22:03] nerdrew commented on #214
The (fixed) suggestion doesn't seem to be working for me though. I have:

[code]

which doesn't seem to do anything.

[2020-05-04 22:46] nerdrew commented on #214
OOOPS! Sorry. the settings do work as expected. Sorry for the noise! Thanks for the awesome plugin!

This works:

[code]

I wasn't correctly using the most recent version of rust-analyzer that supports these settings.

[2020-05-04 22:46] #214 closed

[2020-05-05 04:40] justinmk commented on #219
for non-alphabetic symbols Lua supports `["foo"] = bar` syntax for defining table keys. Like this:

[code]

[2020-05-05 04:40] #219 closed

[2020-05-05 08:41] TC72 opened #220 "Can the documentation be made clearer on the use of packadd"
I recently decided to move from coc.nvim to Neovim's built in LSP. After following the instructions I failed to get it to work. [I started this thread on reddit](https://www.reddit.com/r/neovim/comments/gc775r/please_help_me_understand_neovim_lsp/) and with people's help I've got it working.

It was pointed out to me that the documentation now says many times you must use this line:
`vim.cmd('pack

[2020-05-05 09:38] PanagiotisS commented on #219
Thank, I am an idiot. Although I read on the mailing list the following it did not occur me to try it. I miss-read it as not implemented.

To be honest since I can configure fortran-ls through args thats fine with me.
If you find it waste of time, please ignore the following.
Just in case someone else has stumbled across this, please allow me a further question.

Following your suggestion I would

[2020-05-05 14:25] justinmk commented on #220
The `vim.cmd('packadd nvim-lsp')` line in the doc is confusing, yes, specially if you're not familiar with Vim. It is assumed that you would only add that line if you actually use 'packpath'.

The problem is some package managers use 'packpath', some don't. vim-plug does not.

Depends on your package manager. The fact that you had to _create_ a 'packpath' directory means your package manager doesn

[2020-05-05 14:32] TC72 commented on #220
I'm using this to install the plugin:
`Plug 'neovim/nvim-lsp'`

If I don't use the `vim.cmd('packadd nvim-l` then I get this error message on launch:

`Error detected while processing /Users/julianf/Dropbox/dotfiles/vim/my_config/nvim-lsp.vim:
line   17:
E5108: Error executing lua [string ":lua"]:1: module 'nvim_lsp' not found:
        no field package.preload['nvim_lsp']
        no file '/Users/j

[2020-05-05 14:40] justinmk commented on #220
and what directory did you tell vim-plug to install to...?

The error message tells us it's looking in `.config/nvim/...`. Clearly vim-plug is installing somewhere else.

[2020-05-05 14:43] TC72 commented on #220
I don't know, I've always just used a line like `Plug 'tpope/vim-repeat'` in my init.vim and plugins work. Never configured it to say which directory to use.
I can see the plugins are installed in ~/.config/nvim/bundle/

[2020-05-05 14:45] justinmk commented on #220
are other plugins being found? what does this say:

    :put =&runtimepath

[2020-05-05 14:47] justinmk commented on #220
Actually, the problem might be that you're calling `require'nvim_lsp'` before calling `plug#end()`. Can you try putting the Lua code somewhere after `plug#end()`

[2020-05-05 15:46] #220 closed

[2020-05-05 16:43] TC72 commented on #220
Yes, that was the problem, I moved it after plug#end() and it works.
Thanks for taking the time to help me. I'll update the reddit post in case it can help anyone else.

[2020-05-06 03:24] h-michael commented on #216
@GoldsteinE
It should be called.
If I rewrite and execute it like this, "fname" will be displayed with the error.
This is because the debug print doesn't show up, it's not a problem with "nvim-lsp".

[code]

[2020-05-06 03:47] h-michael commented on #219
@norcalli
VS Code extension of fortran language server seems to, unfortunately, convert the value of settings in package.json to the option when starting language server as described above. :(

[2020-05-06 03:59] #136 closed

[2020-05-06 06:49] h-michael commented on #190
@doronbehar
Does this still occur?
If yes, would you show me  the 10 lines before and after "...ig/nvim/pack/functional/opt/lsp.configs/lua/nvim_lsp/configs.lua"?

[2020-05-07 05:57] yashLadha opened #223 "Unable to get omnicompletion on type working in neovim."
My config:

[code]

[2020-05-07 07:25] h-michael commented on #223
@yashLadha Please report in the format of the issue template.

- `nvim --version`:
- nvim-lsp version(commit hash):
- `:checkhealth` result
- What language server(If the problem is related to a specific language server):
- Operating system/version:
- Terminal name/version:
- `$TERM`:

### How to reproduce the problem from neovim startup

### Actual behaviour

### Expected behaviour

[2020-05-07 08:10] yashLadha commented on #223
Resolved through `InsertPre` hook 👍

[2020-05-07 08:10] #223 closed

[2020-05-07 11:03] #164 closed

[2020-05-08 07:22] ilAYAli opened #225 "multiple `NO_RESULT_CALLBACK_FOUND` errors printed on LSP init."
- `nvim --version`: NVIM v0.5.0-476-ge9cc38361
- nvim-lsp version(commit hash): cc99ed1a089a52aad458545fd9928ddc0b6a08b1
- What language server(If the problem is related to a specific language server): ccls
- Operating system/version: macos/linux

### How to reproduce the problem from neovim startup
start nvim in development _my_ project root.
### Actual behaviour

I get ~ 50 of these messages whe

[2020-05-08 10:24] doronbehar commented on #190
No error anymore, but I don't see any completions triggered... Am I supposed to have it automatically suggested?

[2020-05-09 05:15] h-michael commented on #190
@doronbehar See`:h lsp-config`

[2020-05-09 07:18] doronbehar commented on #190
OK, I see there are mappings etc I need to set. I've set them and nothing happens when I press them. There is even no `gopls` process running although I ran:

[code]

[2020-05-09 07:48] h-michael commented on #190
Would you show me `:lua print(vim.inspect(vim.lsp.buf_get_clients()))` ?

[2020-05-09 08:54] doronbehar commented on #190
`{}`

[2020-05-09 08:58] doronbehar commented on #190
@h-michael I appreciate your willing to help but I'm afraid I don't have much time to debug this further. I was just interested in testing Neovim's upcoming native lsp capabilities but since it seems almost unusable at this point, I'll just continue to use `coc.nvim`.

Feel free to close this if you see no issues on your end.

[2020-05-09 19:43] Sammyalhashe opened #228 "Vim function to get error diagnostics"
Other plugins I've seen have (n)vim functions available to the user, for say, adding diagnostic information to your status lines. Does nvim-lsp provide such a function? If it provides a lua method, how would it be used in the config for something like this?

[2020-05-09 21:40] ahmedelgabri opened #229 "json & yaml schemas"
I'm trying to migrate from `coc` & I have a couple of schemas for yaml & json but when I tried to migrate them, they don't look like they are being picked up.

[code]

[2020-05-10 03:45] h-michael commented on #229
@ahmedelgabri
Would you show me vim-lsp.log around initialize.

[2020-05-10 03:57] h-michael commented on #190
@doronbehar
I'm sorry that I can't help you. If you use it again and encounter the same problem, please help me again.

[2020-05-10 03:57] #190 closed

[2020-05-10 04:13] h-michael commented on #225
@ilAYAli
I can't reproduce this.
Please show me minimal case and ccls versoin.

[2020-05-10 07:37] ahmedelgabri commented on #229
@h-michael I tried a yaml file & a json file & this is the only thing I got in a clean log file.

[code]

[2020-05-10 09:06] ilAYAli commented on #225
I am not able to trigger it with a minimal case, this only happens with a multi millon LOC repo, with tens of thousands of c++ files.
But, as previously mentioned, it does not happen when using `CoC` and `ccls`

It happens on multiple versions, but this is what I currently have installed:
[code]

Some additional (sligtly obfuscated) information:

The following message is (one of many) that is show

[2020-05-11 02:38] h-michael commented on #229
@ahmedelgabri  You should change settings like this.

[code]

And I don't have any errors with yaml-language-server.

[2020-05-11 14:07] teto commented on #228
this is available in neovim, check `:h vim.lsp.util.buf_diagnostics_count()`

[2020-05-11 18:48] ahmedelgabri commented on #229
@h-michael this works, thanks! For `yaml`, I don't know not getting errors too. So I will close the issue for now & if I get anything will post again. Thank you

[2020-05-11 18:48] #229 closed

[2020-05-12 04:25] skbolton opened #230 "Configuring elixir ls"
- `nvim --version`: v0.5.0-nightly
- nvim-lsp version(commit hash): b77a24f
- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server): elixir ls (new one I will PR if I can get working)
- Operating system/version: MacOS Catalina 10.15.4
- Terminal name/version: Kitty
- `$TERM`: xterm-256color

I was working on trying to tackle adding support for

[2020-05-12 19:41] nomasprime opened #231 "Plugin load error"
- `nvim --version`: 0.5.0
- nvim-lsp version(commit hash): b77a24f6b6bdf32d621f37c733f399f33a7eab0d
- `:checkhealth` result:
[code]
Every time I open NeoVim:
[code]
Config:
[code]

[2020-05-12 20:30] nomasprime commented on #231
Even installing the plugin with Plug I get:
[code]

[2020-05-12 22:02] nomasprime commented on #231
FFS! Hours wasted because Homebrew wasn't actually updating NeoVim to the latest commit.

Anyway, working now.

[2020-05-12 22:02] #231 closed

[2020-05-14 09:19] ahmedelgabri opened #233 "tsserver logs errors that it can't find npm"
I was initially debugging something else in the project `tsconfig.json` & found this by luck.

- `nvim --version`:
[code]

- nvim-lsp version(commit hash): https://github.com/neovim/nvim-lsp/commit/b77a24f6b6bdf32d621f37c733f399f33a7eab0d
- `:checkhealth` result
[code]

- What language server(If the problem is related to a specific language server): `tsserver`
- Operating system/version: macOS 10.

[2020-05-14 09:45] lithammer commented on #233
This is a known issue with tsserver/npm/node/homebrew, not with nvim-lsp. See https://github.com/microsoft/TypeScript/issues/23924 for reference, there's probably many like it if you search for 'tsserver npm: No such file or directory'.

Anyway, the quick solution for you is this:

[code]

[2020-05-14 09:46] lithammer commented on #233
Also, the breaks every time Node is updated or re-installed.

[2020-05-14 10:15] ahmedelgabri commented on #233
I was already thinking about that but wanted to check first.

Exactly, but since it's not a `nvim-lsp` issue will close this issue & deal with this on my own then.

Thanks

[2020-05-14 10:15] #233 closed

[2020-05-14 11:03] ahmedelgabri commented on #233
Sorry, but I didn't want to open a new issue. It seems that the `tsserver` LSP is resolving `package.json` before `tsconfig.json`

https://github.com/neovim/nvim-lsp/blob/b77a24f6b6bdf32d621f37c733f399f33a7eab0d/lua/nvim_lsp/tsserver.lua#L20

But even if I change that to be

[code]

It still resolves `package.json` before `tsconfig.json` I looked at https://github.com/neovim/nvim-lsp/blob/b77a24f6

[2020-05-17 02:02] heimann commented on #230
Have you tried installing elixir-ls into another directory just to be sure that it's not that particularly version of `elixir-ls` that's giving you trouble?

I'm able to get the language-server to run fine, and it doesn't seem to crash on me, but I can't get go to definition to work right just yet :joy:

[2020-05-17 15:13] ahmedelgabri opened #237 "tsserver resolves `package.json` before `tsconfig.json`"
- `nvim --version`:

[code]

- nvim-lsp version(commit hash): https://github.com/neovim/nvim-lsp/commit/205a9f0ca9e733d94f15f228b9e23b29a80af7cd
- `:checkhealth` result

[code]

- What language server(If the problem is related to a specific language server): `tsserver`
- Operating system/version: macoS 10.15.4
- Terminal name/version: kitty 0.17.4
- `$TERM`: `tmux-256color`

### How to reproduce t

[2020-05-18 01:07] ms-jpq opened #239 "Lazy require language server configurations to avoid increasing neovim startup time"
Hi there,

I noticed that my vim startup time doubled, when I added in  a bunch of lsp configs (I added many).

So I lazy loaded all of mine `setup(...)` in `FileType` `autocmd`.

I had to dig around a bit and add in `lsp.<client>.manager.try_add()` for each client, or else the first buffer of `FileType` would not be loaded.

Of course this isn't too difficult, but I think there are some room for

[2020-05-18 01:27] tjdevries commented on #239
Can you show what your final config looked like?

[2020-05-18 01:44] ms-jpq commented on #239
Sure thing it goes something like this:

`bash.lua`

[code]

`libs/ftp.lua`

[code]

`libs/registry.lua`

[code]

The way my config is, the code posted is way longer than necessary for doing just lazy loading, we can easily simplify this, but you get the gitst of things.

[2020-05-18 06:04] sinap-fb commented on #191
i think the sample code is mistaken.  referencing `nvim_lsp.foo_lsp` when foo_lsp doesn't exist will cause this code to require a non-existent module:
https://github.com/neovim/nvim-lsp/blob/269169cb11a1491ba398638776bb471e5dfd0c8c/lua/nvim_lsp.lua#L76-L78

my guess is the sample code should be `if not configs.foo_lsp then`

[2020-05-18 07:05] h-michael commented on #237
@ahmedelgabri
The current logic is to recursively look for the first file you open that is a marker for each root directory in the parent directory.
In this case, instead of searching for each maker file, it searches for each marker file in each directory.
That's why things like this issue are happening.

How do you think it would be better to change it?
How about searching from the first marker i

[2020-05-18 12:07] lithammer commented on #237
This sounds like the reasonable behaviour. However I would like to change that from `vim.fn.getcwd()` to `vim.fn.expand("$HOME")` to make it work if I happen to be one or more directories deeper than the project root. And then use `vim.fn.getcwd()` as final fallback if nothing matches.

Basically, given `util.root_pattern("tsconfig.json", "package.json")` it would first search for `tsconfig.json`

[2020-05-18 12:09] lithammer commented on #237
On second thought, using `vim.fn.expand("$HOME")` will probably re-introduce issues like https://github.com/neovim/nvim-lsp/pull/176 again. So scratch that.

[2020-05-18 13:53] #228 closed

[2020-05-18 19:24] ahmedelgabri commented on #237
@h-michael I agree with @lithammer on this, and that's actually how I thought it was working. I thought that `util.root_patten` was checked in order.

[2020-05-19 04:02] h-michael commented on #237
OK, if noone try this, I'll try this later.

[2020-05-21 09:08] h-michael commented on #230
#243 resolved this

[2020-05-21 09:08] #230 closed

[2020-05-23 16:33] dutchgecko opened #248 "checkhealth errors if attempted to load not installed language server"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash):
`169a1cf891`

- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server):
  * Tested with bashls, tsserver (both not installed)
- Operating system/version:
  * Ubuntu 20.04 under WSL

### How to reproduce the problem from neovim startup

1. Choose a supported language server, such as bas

[2020-05-24 01:27] #248 closed

[2020-05-24 19:38] lynndylanhurley opened #250 "typescript-language-server no longer maintained"
It looks like the [typescript-language-server](https://github.com/theia-ide/typescript-language-server) library is no longer actively maintained ([source](https://github.com/theia-ide/typescript-language-server/issues/141)).

There's another language server that supports both javascript and typescript that seems to be more active ([javascript-language-server](https://github.com/sourcegraph/javascr

[2020-05-26 01:34] demizer opened #251 "Function documentation dissappears after selecting lsp completion"
This is a feature request, a similar issue has already been reported to vim-lsp at https://github.com/prabirshrestha/vim-lsp/issues/275

- `nvim --version`:  v0.5.0-508-gc37d9fa3d
- nvim-lsp version(commit hash): 205a9f0ca9e733d94f15f228b9e23b29a80af7cd

### The issue

When a completion is shown in the menu, the function documentation is shown correctly. But when the completion is selected, or the

[2020-05-27 14:54] sbromberger opened #252 "2 display issues with nvim-lsp and rust-analyzer"
- `nvim --version`: `NVIM v0.5.0-504-g55b62a937`
- `:checkhealth` result: all ok except for missing providers: py2, ruby, node, and perl
- What language server(If the problem is related to a specific language server): rust-analyzer
- Operating system/version: Ubuntu 20.04
- Terminal name/version `$TERM`: `tmux-256color-italic`

Additional info:
[code]
(These are unicode chars)

### How to reproduc

[2020-05-27 17:59] tjdevries commented on #252
Help defines new way to set these:

[code]

[2020-05-27 17:59] #252 closed

[2020-05-27 18:05] sbromberger commented on #252
Issue 1 is because of the syntax change for the gutter signs:
[code]
fixed it.

Still having problems with issue 2.

[2020-05-27 18:12] sbromberger commented on #252
@tjdevries could you please reopen? Still having issues with 2.

[2020-05-28 01:26] pyrr commented on #250
I didn't really want to make a github issue out of this since this isn't really one but I just realized that coc-tsserver from coc.nvim works on singular .ts files without actually initializing a typescript project in that directory while this both this and tsserver only work if there's a tsconfig. Is there any way I can obtain the same behavior here ?

Both my typescript and lua are trash but I t

[2020-05-28 13:15] teto opened #254 "per buffer/filetype checkhealth"
I work with several LSP servers, some of them capricious.
I would love to see a command similar to `NeomakeInfo` or `CocInfo` (IIRC) e.g. to get more detailed information/diagnostics about the lsp servers:
- show init settings
- show current server status

This could be integrated as part of a per-buffer `checkhealth`.

[2020-05-28 15:19] lynndylanhurley commented on #250
@pyrr yeah I think we're dependent on the language server itself for that. Not sure why that issue was closed - did they resolve the issue maybe?

[2020-05-28 18:21] pyrr commented on #250
I don't think so.

[2020-05-29 01:32] h-michael commented on #252
@sbromberger
This reproduced video seems to have plugins and settings other than nvim-lsp.
Please tell me the minimum reproduction vimrc.

[2020-05-30 16:14] bisspector opened #255 "dartls.lua fails to find analysis server snapshot if dart is installed using flutter"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash):
`54f4f823a27ffa8f9e6c308d550888f3ae21373e`
- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server):
dartls
- Operating system/version:
macOS catalina
- Terminal name/version:
alacritty 0.4.2
- `$TERM`:
xterm-256color

### How to reproduce the problem from neovim startup
In `init.vim`

[2020-05-31 15:07] sbromberger commented on #252
@h-michael see https://github.com/rust-analyzer/rust-analyzer/issues/4630#issuecomment-636463332 - according to the logs, nvim-lsp is not sending the `\n` from the penultimate line.

[2020-05-31 15:21] sbromberger opened #256 "nvim-lsp not sending full code to rust-analyzer"
- `nvim --version`: `NVIM v0.5.0-532-g2ca8f02a6`
- `:checkhealth` result: all good except for missing providers
- What language server(If the problem is related to a specific language server): rust-analyzer
- Operating system/version: Ubuntu 20.04
- Terminal name/version: blink app, via mosh
- `$TERM`: tmux-256color-italic

### How to reproduce the problem from neovim startup
1) create a simple ru

[2020-05-31 19:17] tjdevries commented on #256
Can you make this issue on `neovim` not `nvim-lsp` please? This is not the right repo for this issue (this is primarily for configs, not for core language server issues). When you do, can you close this issue?

[2020-05-31 21:31] sbromberger commented on #256
@tjdevries ref https://github.com/neovim/neovim/issues/12414. Sorry for the mispost.

[2020-05-31 21:31] #256 closed

[2020-05-31 22:00] tjdevries commented on #256
No problem :) thanks for posting there.

[2020-06-01 03:12] demizer opened #257 "Completion list items are really long"
When showing completions, the completion items are so long they go off the screen. See attached screenshot.

I am not certain where the problem is originating from, the nvim-lsp plugin or the LSP server.

- `nvim --version`: v0.5.0-508-gc37d9fa3d
- nvim-lsp version(commit hash): 54f4f823a27ffa8f9e6c308d550888f3ae21373e
- `:checkhealth` result: Everything is "OK"
- What language server(If the probl

[2020-06-01 03:16] demizer commented on #257
I should note, this is the only LSP I am using currently, and it under very active development.

[2020-06-01 03:22] Shougo commented on #257
It seems new lines are not truncated.

[2020-06-03 06:16] nhooyr opened #260 "tsserver doesn't startup"
- `nvim --version`: `NVIM v0.5.0-60c581b`
- nvim-lsp version(commit hash): a7fdf268b1c51f6395900e437060728701aa8b77
- `:checkhealth` result
[code]
- Operating system/version: macOS 10.15.5
- Terminal name/version: Terminal.app
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup
After installing with `:LspInstall` I get:

[code]

Uninstalled and then tried to install fro

[2020-06-03 06:23] nhooyr commented on #195
Is it possible to make the popup always appear instead of only on jump?

See also https://github.com/haorenW1025/diagnostic-nvim/issues/29

[2020-06-03 06:25] lithammer commented on #260
Can you start `tsserver` manually?

[2020-06-03 06:26] nhooyr commented on #260
[code]

Can run the binary at least.

How do I start it up properly?

[2020-06-03 06:37] lithammer commented on #260
You didn't actually start it though since it failed because of missing arguments. As the error message says, you need to start it with a connection type, e.g. stdio, node-ipc, socket.

Try this instead:

[code]

[2020-06-03 06:42] nhooyr commented on #260
So passing `--stdio` and it blocks so it seems like it works but passing `--node-ipc` or `--socket 9090` and it just exits without any error/log.

Anyway, I meant to use the node language server and it doesn't seem tsserver not working is related to nvim-lsp.

[2020-06-03 06:44] nhooyr commented on #260
Oh wait hold on there is no node ls server. `tsserver` is the main one my bad.

I was looking at https://github.com/microsoft/vscode-languageserver-node but that seems to just be a library.

[2020-06-03 06:53] nhooyr commented on #260
omfg I just had to install typescript globally

`npm install -g typescript`

Not sure why the package doesn't depend on typescript. interesting.

[2020-06-03 06:55] nhooyr commented on #260
I'd say that's a bug in `nvim-lsp` actually, we should install `tsserver` on top of `typescript-language-server` if we have to.

[2020-06-03 07:25] nhooyr opened #261 "vimls omnifunc attempt to compare nil with string"
- `nvim --version`: `NVIM v0.5.0-60c581b`
- nvim-lsp version(commit hash): a7fdf268b1c51f6395900e437060728701aa8b77
- `:checkhealth` result
[code]
- Operating system/version: macOS 10.15.5
- Terminal name/version: Terminal.app
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup

Just `<C-x><C-o>` after installing vimls in a vim file.

Throws:

[code]

[2020-06-03 07:54] lithammer commented on #260
I think the assumption is that you should install typescript in your project (i.e. add it to package.json).

[2020-06-03 08:08] nhooyr commented on #260
Yea I should have ran `yarn` to install deps first but I got blocked on figuring this out lol. I think an error message would be appropriate explaining that.

[2020-06-03 14:21] tjdevries commented on #261
This should probably be an issue on `neovim` I'm assuming (since this is just for the configs)

[2020-06-03 14:25] nhooyr commented on #261
You got it. I wasn't sure as someone on gitter redirected me to file any lsp related issues here.

[2020-06-03 14:26] nhooyr commented on #261
See https://github.com/neovim/neovim/issues/12431

[2020-06-03 14:26] #261 closed

[2020-06-06 01:30] wbthomason opened #264 "Custom commands don't seem to be added"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): a7fdf26
- `:checkhealth` result:
<details>
<pre>
health#completion_nvim#check
========================================================================
## general
  - OK: neovim version is supported

## completion source
  - OK: all completion source are valid

## snippet source
  - INFO: You haven't setup any snippet source.

health#nvim_

[2020-06-07 12:25] theHamsta opened #265 "Switch Header/Source for clangd"
This snippet may be useful for users of clangd

[code]
[code]
Is something like this in the scope of nvim-lsp? Maybe we could put this in the documentation in the README.

[2020-06-07 12:36] theHamsta commented on #265
Ooops: someone was faster: #263

[2020-06-07 12:36] #265 closed

[2020-06-07 15:36] tami5 opened #266 "vls: Client has shut down after sending a message"
- `nvim --version`: nightly
- nvim-lsp version(commit hash): current
- `:checkhealth` result
[code]

- What language server(If the problem is related to a specific language server): Vue Language Server
- Operating system/version: Linux
- Terminal name/version:
- `$TERM`:

### How to reproduce the problem from neovim startup
- LspInstall vuels
- add `call luaeval("require'nvim_lsp'.vuels.setup{}")`

[2020-06-08 02:36] h-michael commented on #266
@tamibam Could you show me sample codes or project?

[2020-06-08 05:51] lithammer commented on #266
I'm also seeing this for `bashls` and `pyls_ms`. The thing is, the language server actually starts and works just fine.

I can reproduce with just an empty .sh or .py file.

[2020-06-08 10:58] tamibam commented on #266
@h-michael Hay, michael, any empty vue file will call the server and this message appere

[2020-06-08 11:00] h-michael commented on #266
I see, I'll invest this.

[2020-06-09 13:54] #264 closed

[2020-06-09 18:38] leungbk commented on #250
The repo you are suggesting hasn't received any updates to the actual source code in more than a year---really, look at the commit history. That project also has some problems with memory leaks: https://github.com/sourcegraph/javascript-typescript-langserver/issues/447

It might be easier for someone to take over the Theia project instead.

[2020-06-11 20:54] nacknime-official opened #271 "Slow responce from the pyls"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): 94cce74
- `:checkhealth` result
[code]
- What language server(If the problem is related to a specific language server): `pyls`
- Operating system/version: `Archlinux + Sway (walyand)`
- Terminal name/version: `kitty 0.17.4`
- `$TERM`: `xterm-256color`

### How to reproduce the problem from neovim startup
With the minimal nvim config
[code

[2020-06-11 21:58] nhooyr opened #272 "Resourcing $MYVIMRC breaks nvim-lsp"
- `nvim --version`: `v0.5.0-60c581b`
- nvim-lsp version(commit hash): `94cce7448f34f172492d98ff6efe10986f73eb9e`
- `:checkhealth` result: Everything passes
- Operating system/version: macOS 10.15.5
- Terminal name/version: Terminal.app
- `$TERM`: xterm-256color

### How to reproduce the problem from neovim startup

If I source my $MYVIMRC again lsp stops working. i.e omnifunc doesn't nothing and n

[2020-06-12 11:48] nerosnm opened #273 "RLS: configuration settings in CONFIG.md are inaccurate"
For example, the [instructions for RLS](https://github.com/neovim/nvim-lsp#rls) say that the server accepts configuration via the `settings` key, and lists options in "available settings" like:

- `rust-client.engine`
- `rust.build_on_save`
- `rust.rust-analyzer`

That information would lead me to believe that this is a valid call to `nvim_lsp.rls.setup`:

[code]

However, it looks like all of the

[2020-06-12 11:48] nerosnm commented on #273
Sorry, accidentally submitted early :) I'm editing now

[2020-06-12 12:20] nerosnm opened #274 "Cannot successfully pass rust-analyzer settings object to RLS, interpreted as rust_analyzer"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): `94cce74`
- `:checkhealth` result

<details>

[code]
</details>

- What language server (if the problem is related to a specific language server): RLS
- Operating system/version: macOS 10.15.5 (19F101)
- Terminal name/version: alacritty 0.4.2 (f68de37)
- `$TERM`: screen-256color

### How to reproduce the problem from neovim startup

Insta

[2020-06-12 12:28] lithammer commented on #274
Probably because you're using the `rls` key instead of `rust_analyzer`, try this:

[code]

[2020-06-12 12:31] nerosnm commented on #274
I'm intentionally using the `rls` key. Am I misunderstanding the [instructions](https://github.com/neovim/nvim-lsp#rls)? The RLS plugin claims to support using rust-analyzer as a backend, independently of using the rust-analyzer plugin directly.

[2020-06-12 12:43] nerosnm commented on #274
Regardless, I changed my configuration as you suggested, to:

[code]

I don't get a log message about an unknown configuration now, but the incorrect behaviour still occurs (the settings don't affect rust-analyzer's behaviour), and with the configuration in this state I'm not sure which language server is actually the one being used.

[2020-06-12 12:52] nerosnm opened #275 "Delay when closing nvim when rust_analyzer is active"
- `nvim --version`:
[code]
- nvim-lsp version(commit hash): `94cce74`
- `:checkhealth` result

<details>

[code]
</details>

- What language server (if the problem is related to a specific language server): rust_analyzer
- Operating system/version: macOS 10.15.5 (19F101)
- Terminal name/version: alacritty 0.4.2 (f68de37)
- `$TERM`: screen-256color

### How to reproduce the problem from neovim star

[2020-06-12 13:00] nacknime-official commented on #275
Wow, I have the same delay with the pyls

[2020-06-12 13:20] lithammer commented on #275
I think it's because it waits for the language server to quit gracefully. But after X time, Neovim quits anyway. I remember the being some discussions about this in the neovim repo. Unfortunately, I can't find it at the moment.

[2020-06-12 13:26] nerosnm commented on #275
That definitely seems to be related to the problem. If I run `:lua vim.lsp.stop_client(vim.lsp.get_active_clients())`, then `:q` causes nvim to quit instantaneously.

Interestingly, though, that works even if I run `:q` as soon as possible after the first command, within the amount of time that delay mentioned above causes. That suggests to me that nvim-lsp might not actually be asking the client

[2020-06-12 13:36] nerosnm commented on #275
Okay, this is only getting weirder. Running `:lua vim.lsp.stop_client(vim.lsp.get_active_clients())` one time doesn't actually seem to stop the client - I can still get errors in the buffer and completions once I run that. Only running it a second time causes the client to stop. But just running that command a single time causes nvim to exit instantaneously. Is there perhaps a duplicate client ins

[2020-06-12 13:43] lithammer commented on #275
Is suppose you have both rust-analyzer and rls running? Check with `ps`.

[2020-06-12 13:44] nerosnm commented on #275
There's definitely only one client, it turns out:

- `:lua print(#vim.lsp.get_active_clients())` prints 1
- `:lua print(vim.inspect(vim.lsp.get_active_clients()[1]))` prints the client, but `[2]` is `nil`

But:

- Running `:lua vim.lsp.get_active_clients()[1].stop()` the first time does not stop the client, and allows nvim to then exit instantaneously.
    - After this call, `:lua print(vim.lsp.ge

[2020-06-12 13:45] nerosnm commented on #275
Nope:

[code]

[code]

[2020-06-12 13:46] lithammer commented on #275
This issue should probably be taken to the neovim repo since this is just a repo for various configurations, and not the client itself.

[2020-06-12 13:47] nerosnm commented on #275
Understood, sorry about that - I'll file one there and link to this.

[2020-06-12 14:54] #275 closed

[2020-06-12 16:48] ngortheone opened #276 "How to disable snippets in rust_analyzer"
despite setting ` snippetSupport = false` snipptes are still suggested where I want just simple completion.

init.vim
[code]
it feels like this lua heredoc has 0 effect on what is going on

example:
![nvim_lsp_snippet1](https://user-images.githubusercontent.com/18271144/84526131-9fd51a00-ac91-11ea-8f4a-7a92b49e1e51.png)

after pressing enter a garbage is inserted
![nvim_lsp_snippet2](https://user-

[2020-06-12 16:52] ngortheone commented on #273
I have somewhat related problem. I want to disable snippets, and I configure everything according to the docs but there is no effect. Snippets are still offered...

https://github.com/neovim/nvim-lsp/issues/276

[2020-06-13 10:37] saltdotac commented on #250
I'd like to promo this issue as well that asks Microsoft to make TSServer (theirs) support LSP (also theirs) https://github.com/microsoft/TypeScript/issues/11274.

[2020-06-14 08:06] ms-jpq opened #278 "Bug: Leaking child processes"
- `nvim --version`:

NVIM v0.5.0-2ca8f02

- nvim-lsp version(commit hash):

1de73d2bd7878b9232ec784cc076f06e99c9b27d

- `:checkhealth` result

Doesn't seem to work?

[code]

- What language server(If the problem is related to a specific language server):

`pyls_ms` and the lua one

- Operating system/version:

[code]

- Terminal name/version:
iTerm2

- `$TERM`:

`screen-256color`

### How to repro

[2020-06-14 23:15] yuntan opened #279 "completion not working with LanguageServer.jl"
Linter is working but \<C-X\>\<C-O\> completion not working.

[code]

`setl omnifunc?` shows `omnifunc=v:lua.vim.lsp.omnifunc`

lsp.log:
[code]

- LanguageServer.jl: v3.1.0
- `nvim --version`: NVIM v0.5.0-559-ga0a84fc9e
- nvim-lsp version(commit hash): 31859d4
- `:checkhealth` result
  INFO: julials: configuration checked.
- What language server(If the problem is related to a specific language ser

[2020-06-15 03:53] h-michael commented on #279
@kdheepak
Do you know what happened?

[2020-06-15 04:01] tjdevries commented on #279
Do you have the omni func set to the LSP source? It doesn't look like it in your minimal init.vim

[2020-06-15 04:39] kdheepak commented on #279
Yes, you have to set omnifunc. I am on my phone right now, and my internet isn't cooperating with me so I can't look into this more at the moment. The people that commented above are the neovim experts :)

This is a non answer but I wanted to add my experience. In the past I have had mixed results using the built in omnifunc set to the LSP source. Even using https://github.com/haorenW1025/completi

[2020-06-15 23:04] yuntan commented on #279
I'd set omnifunc (from before creating the issue).

[2020-06-16 16:47] mjlbach commented on #271
Just to clarify, VScode does not use palantir's python language server, but rather a custom implementation on top of [jedi](https://github.com/microsoft/vscode-python/blob/f1f2dfd192358a0c9641a6af7d81fb1dee217ea5/pythonFiles/completion.py). I've also noticed slow completions from pyls when using vim-lsp/LanguageClient-neovim. You should try using mspyls (the Microsoft Python Language Server), whic

[2020-06-17 14:56] nacknime-official commented on #271
I haven't say that I compared with VSCode, I compared with coc.nvim, these things are different.

What about pyls_ms - that's laggy, buggy and eats too much CPU since open a python file.

[2020-06-17 16:04] mjlbach commented on #271
coc-python is a [fork](https://github.com/neoclide/coc-python/blob/master/Readme.md) of VSCode's python plugin.

pyls_ms is the same language server that coc-python uses when you disable jedi in coc-settings.json. It's significantly faster in my experience for most projects.

[2020-06-18 13:49] nacknime-official commented on #271
yes, it's faster, but we're talking about pyls now. On my screencasts you can see that jedi in coc.nvim (I didn't disable jedi in the coc config file) is much faster than in nvim-lsp

[2020-06-18 15:03] mjlbach commented on #271
You can't compare the speed of pyls in nvim-lsp, to the speed of pyls in coc-python, because coc-python does *not* use pyls. Pyls is the speed bottleneck, not the nvim lsp implementation. To confirm, you can try LanguageClient-neovim and vimls, they will both have the same delay.

What you're really asking for is a feature request, to make a new language server using the jedi implementation of vsc

[2020-06-18 15:32] fsouza commented on #271
@nacknime-official as mentioned by @mjlbach, coc-python doesn't use pyls, it uses jedi directly. If you want to compare the speed, you can configure coc.nvim to use pyls by uninstalling coc-python and following these instructions: https://github.com/neoclide/coc.nvim/wiki/Language-servers#python (spoiler alert: it'll be as slow, because pyls is the problem here).

This should be an issue in python

[2020-06-18 15:49] glepnir commented on #250
This is the reason why I have not switched to use nvim-lsp from coc. coc-tsserver has always worked great. And typescript-lang-server is no longer maintained

[2020-06-19 19:42] nacknime-official commented on #271
Oh, I'm so sorry, I thought coc-python uses pyls. Thanks for you all, I'm closing this issue.

[2020-06-19 19:42] #271 closed

[2020-06-20 01:18] Shougo commented on #271
If nvim-lsp supports https://github.com/pappasam/jedi-language-server, it may solve the problem instead.

[2020-06-20 01:35] fsouza commented on #271
Oh interesting, sent #284.

[2020-06-22 11:00] whitebyte commented on #250
FWIW Sourcegraph language server mentioned by OP also seems abandoned, all the activity there comes from deps-update bots

[2020-06-22 14:55] nomasprime opened #286 "PYLS opening preview window"
- `nvim --version`: v0.5.0-21453e8f0
- nvim-lsp version(commit hash): a82ce0e
- What language server(If the problem is related to a specific language server): pyls 0.1.6
- Operating system/version: MacOS 15.15.5
- Terminal name/version: iTerm nightly
- `$TERM`: 256

### How to reproduce the problem from neovim startup

With pyls and either deoplete LSP or another completion library NeoVim's intent

[2020-06-22 16:41] nomasprime commented on #286
Don't know why this wasn't happening with solargraph as well but this fix was `set completeopt-=preview`.

[2020-06-22 16:41] lynndylanhurley commented on #250
@whitebyte are there any other options? The [coc-typeserver](https://github.com/neoclide/coc-tsserver) plugin seems to work really well for coc.nvim. Is there any way to adapt that plugin to work for nvim-lsp?

[2020-06-23 11:29] whitebyte commented on #250
@lynndylanhurley unfortunately I'm not aware of any other options

[2020-06-24 14:04] meck opened #288 "Using document_range_formatting with formatexpr"
Testing the builtin Lsp, loving it so far! I hit a minor issue while configuring everything.
I wanted to use Lsp formatting with `formatexpr`,  however setting:
`api.nvim_buf_set_option(bufnr, 'formatexpr', 'v:lua.vim.lsp.buf.range_formatting()')`
has some issues as `formatexpr` expects to use the range in `v:lnum` `v:count` and
only works on whole lines.

I managed to solve it by wrapping the cal

[2020-06-24 14:22] tjdevries commented on #288
Oh, this is a good idea! Can you submit it to the neovim core repo? And then tag me (@tjdevries) in it?

[2020-06-24 16:57] tjdevries commented on #288
Closing since this issue is better suited for core. Thanks @meck

[2020-06-24 16:57] #288 closed

[2020-06-25 11:52] 0xRainy opened #289 "Auto-detected install path incorrect for LSP servers"
- `nvim --version`:  NVIM v0.5.0-574-g352831229
- nvim-lsp version(commit hash): 8e978339b57cd03d97ae301659136ce103435910
- `:checkhealth` result: Everything OK, INFO: vimls: configuration checked., no python2
- What language server(If the problem is related to a specific language server):
- Operating system/version: Win10 Build 2004
- Terminal name/version: WindowsTerminal 1.0.1401.0
- `$TERM`:

[2020-06-27 01:59] kosayoda commented on #239
@ms-jpq hi, I was looking to emulate your workaround, and I am having a bit of trouble.

`libs/ftp.lua`
[code]
I'm assuming you have a set implementation in this file?

`libs/registry.lua`
[code]
May I know what this `std` is?

Thanks!

[2020-06-27 22:55] ms-jpq commented on #239
@kosayoda

I wrote an [`stdlib` here](https://github.com/cyproterone/vim/blob/wang/lua/libs/std.lua)

[2020-06-30 10:14] kosayoda commented on #276
This does it on my end.
[code]
Pairing it with `completion-nvim` and
[code]
gets me the parenthesis upon completion confirm back.

[2020-07-01 14:48] dsummersl commented on #260
Ran into this issue and @nhooyr 's typescript install did it for me too - would be nice if the docs reflected this need!

[2020-07-01 17:35] ms-jpq commented on #286
To add to that, this has the annoying behaviour if you accidently close your main window, and your preview window is the only one left, it will cause issues.

Because then you will habitually try to switch buffer in the preview window, but then since it's still the preview window, when the preview inevitably updates, it will destory whatever work you have done.

This is not at all easy to figure o

[2020-07-01 21:51] Shougo commented on #286
This is bug?  Really?
I don't think so.

[2020-07-01 22:09] nomasprime commented on #286
Thought it might be a bug when I raised but, like I said, it seems to be intended behaviour and the above setting stops it happening.

Closing this issue, any improvements can be raised in a new issue.

[2020-07-01 22:09] #286 closed

[2020-07-01 23:38] Shougo commented on #286
I think this is feature.  Other omnifunc sets preview window information.
And you can disable preview window feature by `completeopt`.
So no problem.

[2020-07-02 13:01] pbartyik opened #294 "rls textCodument/declaration not implemented"
- `nvim --version`: v0.5.0-583-g7b529e791
- nvim-lsp version(commit hash): 8e97833
- `:checkhealth` result: all OK
- What language server(If the problem is related to a specific language server): rls
- Operating system/version: Arch, upgraded
- Terminal name/version: termite
- `$TERM`: screen xterm-termite

### How to reproduce the problem from neovim startup
Load up any .rs file
Stand on variable

[2020-07-02 14:19] pbartyik commented on #294
I just switched to rust-analyzer :)

[2020-07-03 07:27] to-str opened #295 "ElixirLS completion inserts function parameters"
Hi

I set up nvim-lsp yesterday and noticed this behaviour:
<img width="1152" alt="Screenshot 2020-07-03 at 09 07 53" src="https://user-images.githubusercontent.com/231959/86441688-1ea2fd00-bcfc-11ea-8817-4a25fa7f8a33.png">

As you can see in the screenshot if I autocomplete a function from elirix-ls it inserts the full function header basically. This happens with deoplete as well as with just `se

[2020-07-03 09:28] t0str commented on #295
I want to add a correction. If I use the language server that `:LspInstall` provides it actually behaves slightly differently. Instead of completing the function header with all parameters, it completes `GenServer.start_link/3`, which seems to be the same kind or error in general, but at least it's much quicker to backspace over ;)

[2020-07-06 16:30] mjlbach opened #299 "Add pyright support"
Microsoft is moving on to a proprietary language server backend for python in vscode, pylance, which is implemented on top of the [pyright](https://github.com/microsoft/pyright) library. It seems like development will be ceasing on the C# Microsoft Python Language Server in favor of this implementation (which is JS based, but apparently somehow much faster). Pyright also includes a language server

[2020-07-06 17:38] sentriz commented on #115
`autocmd BufWritePre *.go lua vim.lsp.buf.code_action({ source = { organizeImports = true } })`

this seems to kinda work, except it always prompts you what to do

[2020-07-06 19:37] tkinz27 commented on #115
So i'm still testing right now but this is what I'm trying out. I dont think its working quite right though but it at least doesn't prompt me.

[code]

[2020-07-06 20:15] sentriz commented on #115
ah cool thanks for sharing @tkinz27

[2020-07-09 10:37] kuator commented on #299
Damn you, Microsoft

[2020-07-09 22:02] aktau commented on #115
@tkinz27 your example doesn't work because the return type of `textDocument/codeAction` is different from `textDocument/formatting`. Only after figuring this out by trial and error did I realize I should've looked at nvim-lsp's own `textDocument/codeAction` [implementation](https://github.com/neovim/neovim/blob/b39edb5b605b545843482c70a3a3d03e2331a059/runtime/lua/vim/lsp/callbacks.lua#L44).

The m

[2020-07-09 23:46] tkinz27 commented on #115
@aktau thanks for the update, yeah I hadn't really verified that mine was working. Been stuck workign on terraform stuff and haven't worked in go for a little while. Thanks for sharing.

[2020-07-10 15:32] mjlbach commented on #299
As of https://github.com/microsoft/pyright/pull/810 pyright language server can be installed via npm
[code]

[2020-07-11 04:36] nhooyr opened #300 "Start lsp server in the background and reuse on subsequent starts by default"
I think this would be a much better model as someone who constantly closes and opens neovim, it's a little annoying to have to wait for the language server to start up sometimes.

If by default it was started in the background and then reused by subsequent startups, things would be very fast.

Interestingly enough, it also delays shutdown if it neovim was just started. i.e if I open a Go file and

[2020-07-11 05:26] Shougo commented on #300
But who closes the background process?
It is always exists?

[2020-07-11 17:51] nhooyr commented on #300
Ideally it’d time-out after it hasn’t been used in a while and exit. Perhaps we could start it under a parent process that handles that.

[2020-07-12 18:43] tjdevries commented on #300
Should be possible for you to do this already. Just change the command you issue for your configuration. Make some shell script that either starts or connects to a server.

[2020-07-14 13:18] timokau commented on #160
I'm sorry for the tone in this issue, it doesn't reflect the usually very nice nix community. Just to clarify the underlying issue: Nix allows users to build a pre-configured neovim. This configuration includes plugins. During the build phase, it will execute neovim with plugins enabled to generate the remote plugin manifest. Since builds happen in a sandbox, there is no home dir and the `$HOME` v

[2020-07-14 14:44] tjdevries commented on #160
A patch to neovim core that makes the logging optional when it can't create the file would probably be fine too, correct?

We can take this line:

[code]

and if it fails, simply make all the logging no-ops with a warning message printed w/in nvim or similar.

and no worries @timokau :smile:

[2020-07-14 16:26] timokau commented on #160
Yes, that probably wouldn't be a bad idea. We might end up just setting `HOME` anyway though to work around similar problems in other plugins.

[2020-07-15 14:49] PhilT opened #304 "F# LS: Error executing vim.schedule lua callback: util.lua:277: attempt to index field 'textEdit' (a userdata value)"
- `nvim --version`: v0.5.0-593-g1ca67a73c
- nvim-lsp version(commit hash): 3f7223659f39273c5fe4f2f2d7ee8baa827a9cfb
- `:checkhealth` result: All OK (except for no Perl provider)
- What language server(If the problem is related to a specific language server): fsharp-language-server
- Operating system/version: Windows 10 Pro x64
- Terminal name/version: cmd.exe
- `$TERM`: ($env:TERM) xterm-256color

[2020-07-15 15:40] PhilT commented on #304
From what I can see in the code at 277 it's checking that `item.textEdit` is not `nil` but it's actually `vim.NIL`.

[2020-07-16 12:20] PhilT commented on #304
Fixing that, I get

[code]

Here is an example of the data that's coming back from the server:

[code]

[2020-07-16 12:32] PhilT commented on #304
Yep! So fixed it by adding `vim.NIL` guards around `item.textEdit`, `item.insertText` and `item.sortText` in `sort_completion_items` and `get_compleition_word`.

So is this something that needs fixing in Neovim LSP or the language server?

It seems like this has been fixed in other places (e.g. https://github.com/neovim/neovim/pull/12237)

[2020-07-16 12:39] PhilT commented on #304
Looking at the [docs](https://neovim.io/doc/user/lua.html#vim.NIL) it seems `vim.NIL` is the correct form to use for dictionaries. If someone can confirm this I could potentially make a PR for this but I'll reiterate, this is the first time I've looked at Lua and LSP so I'll probably need some guidance.

[2020-07-18 17:08] tjdevries commented on #304
Hey @PhilT Thanks for looking into this. Can you make an issue for this on neovim's core repo? That's where the issue is. If you do that, we can try and take a look at it there. I'd be happy to guide you through a PR as well if you're interested in submitting one (you can skip making the issue if you just want to go straight to the pr).

If you want to do that, then go ahead and tag me there and w

[2020-07-19 02:12] nymann commented on #299
Doesn't seem to be in the npm registry?
[code]

[2020-07-19 02:14] mjlbach commented on #299
@nymann Was missing the package, pyright-langserver --stdio is the command invoked, the package is pyright

[2020-07-22 18:49] DrGo opened #309 "question: how to load an lsp only when needed?"
Hello,
I am trying to setup gopls but only when the filetype is go using go.vim (listed below):

- when I put vim.go in my nvim/ftplugin or nvim/after/ftplugin  dir(to load when a .go file is opened):
-- file is loaded as per :scriptnames and successful call to GoLoad()
-- no lsp functionality (diagnostics, goto implementation) at all when a .go file is opened using nvim f1.go
-- no lsp functional

[2020-07-25 15:38] geigerzaehler opened #310 "Use workspace root instead of package root for Rust"
### How to reproduce the problem from neovim startup

I’m using `rust-analyzer` with the default configuration
[code]

I’m using a Rust workspace that contains multiple packages. The file layout looks like this
[code]

### Actual behaviour

If I edit a file in `crate-a` then `crate-a` is used as the workspace root for rust-analyzer.

### Expected behaviour

I expect `my-project` to be used as the

[2020-07-28 18:04] nabezokodaikon opened #311 "Plan to support Deno in this project?"
Plan to support [Deno](https://deno.land/) in this project?
It seems that VSCode and coc.nvim are compatible.

[2020-07-28 18:16] nabezokodaikon commented on #311
It has the same extension as the conventional TypeScript, and it seems difficult to distinguish it.

[2020-07-28 21:14] Shougo commented on #311
It uses LSP protocol?

[2020-07-29 01:14] nabezokodaikon commented on #311
Some are published in a form that extends the LSP of TypeSctipr.
[typescript-deno-plugin](https://github.com/justjavac/typescript-deno-plugin/tree/master/typescript-deno-plugin)

[2020-07-29 02:27] nabezokodaikon commented on #311
After installing typescript-deno-plugin, if you create tsconfig.json in the project directory, it seems that you can handle it.

tsconfig.json
[code]

[code]

[2020-07-29 02:41] Shougo commented on #311
If so, you can configure it.

[2020-07-29 08:19] nabezokodaikon commented on #311
Is it not necessary...?

[2020-07-29 08:25] Shougo commented on #311
nvim-lsp is just default configuration for LSP servers.
You can configure any LSP servers without it.
If you can configure, you can create the PR for it.

[2020-07-29 12:06] nabezokodaikon commented on #311
I tried using the TypeScript file as a reference. However, I couldn't because I couldn't install the package.
It works with `npm install -g typescript-deno-plugin` for the time being, so I'll use it.

[2020-07-29 12:06] #311 closed

[2020-07-30 00:50] norcalli commented on #278
It very much depends on how the process is being started, how nvim is being exited, and how the lua-language-server handles signals.

On exit, the built-in lsp send

[2020-07-31 03:51] ms-jpq commented on #278
thanks foe the explanation!

[2020-07-31 03:51] #278 closed

[2020-08-02 16:47] p00f opened #315 "Custom binary"
I've installed bash and vim language servers through the archlinux repos and the AUR respectively, their respective launch commands are `bash-language-server` and `vim-language-server`.
 But `:LspInstallInfo` gives this
[code]

How can I fix this?

[2020-08-03 16:54] lithammer commented on #315
It likely works as expected. I think `is_installed` just means it's not installed via the `:LspInstall` command. I manually install all my language servers and my `:LspInstallInfo` looks similar to yours and everything works just fine.

[2020-08-03 16:54] lithammer commented on #315
And I wouldn't worry about the `install_dir`/`bin_dir` values either.

[2020-08-03 23:57] p00f commented on #315
They do work as expected,

[2020-08-03 23:57] #315 closed

[2020-08-04 13:35] matu3ba opened #316 "Obtaining debug information from clangd not possible"
clangd offers an option to [export logfiles(section vim)](https://clangd.llvm.org/installation.html).
I am in the [process to get better documentation](https://github.com/clangd/clangd/issues/482).
[YouCompleteMe](https://github.com/ycm-core/YouCompleteMe) is suggested and [this file](https://github.com/ycm-core/ycmd/blob/master/ycmd/completers/cpp/clangd_completer.py) should be used.

- `nvim --v

[2020-08-05 18:25] erw7 commented on #316
The following settings allow you to do what you want.

[code]

[2020-08-05 18:25] #316 closed

[2020-08-05 18:26] erw7 commented on #309
Duplicate of neovim/neovim#12688.

[2020-08-05 18:26] #309 closed

[2020-08-09 15:15] ahmedelgabri opened #319 "Multiple instances of lua-language-server (sumneko_lua) are running when I open a single file"
- `nvim --version`:
[code]

- nvim-lsp version(commit hash): `3f72236`

- `:checkhealth`

[code]

- What language server(If the problem is related to a specific language server): sumneko_lua
- Operating system/version: macOS 10.15.6
- Terminal name/version: Kitty 0.18.2
- `$TERM`:
  - Inside TMUX: `tmux-256color`
  - Outside TMUX: xterm-kitty

### How to reproduce the problem from neovim startup

[2020-08-11 17:31] lithammer commented on #304
Seems like different language servers give different results. For example [jedi-language-server](https://github.com/pappasam/jedi-language-server) gives me `vim.NIL` while [pylance](https://github.com/microsoft/pylance-release) gives me plain `nil`.

[2020-08-14 16:46] Kyle-Thompson opened #320 "Get root directory"
Is there a way to query what the LSP detects as the root directory? I can't seem to find one.

[2020-08-17 16:33] NickHu opened #323 "purescriptls provides no diagnostics info"
- `nvim --version`:

[code]

- nvim-lsp version(commit hash): `fc9d94ef006e082596c2e8724eb3f1c92ff203c7`

- `:checkhealth` result

[code]

- What language server(If the problem is related to a specific language server): purescriptls
- Operating system/version: NixOS 20.09.git.3878497ec2fM (Nightingale)
- Terminal name/version: kitty 0.18.3
- `$TERM`: `xterm-kitty`

### How to reproduce the problem

[2020-08-18 03:03] justinmk commented on #323
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

If you have an improvement send a PR. If you have a specific question we'll try to answer it. Thanks.

[2020-08-18 03:03] #323 closed

[2020-08-19 07:53] kuator commented on #250
Guess, it's time to switch to tsuquyomi [](https://github.com/Quramy/tsuquyomi)

[2020-08-19 14:41] lynndylanhurley commented on #250
@kuator I ended up switching back to coc. I'm mostly using TS these days and this coc-tsserver is just way better than the nvim-lsp typescript plugin.

[2020-08-19 14:46] pyrho commented on #250
@lynndylanhurley I've switched from coc to lsp for the past week. While I agree that it's worrying that typescript-language-server is no longer maintained, I don't really have an issue with my current LSP setup compared to coc.

May I know what did not work for you?

[2020-08-19 14:52] lynndylanhurley commented on #250
@pyrho I kept getting stale / glitchy linting errors. Also the editor would occasionally freeze completely 1-2 times per day.

I switched back to coc to see if that resolved the issue. I haven't had the freezing issue at all, but I do occasionally get bad linting results. In those cases I can just run `CocReset` and it resolves the issue. Not sure if there's an equivalent command for the nvim LSP

[2020-08-19 14:56] pyrho commented on #250
I did notice a bad freeze/hang/OOM with LSP that I never had with coc; thanks for sharing.

[2020-08-19 16:15] kuator commented on #250
Thanks for the suggestion, I used to use coc.nvim, it's an amazing plugin, but I'm gonna stick to nvim-lsp. I mostly write python, so typescript support is not big of a deal for me.

[2020-08-23 17:28] tkolleh opened #324 "Disabling highlights and use underline"
If possible, how could I change the highlight behavior to not highlight errors nor warnings? I prefer to have them underlined to avoid visual noise.

The following is an image of my Nvim setup. The [Ale plugin](https://github.com/dense-analysis/ale) is enabled with highlights disabled/hidden i.e:

[code]

<img width="838" alt="Screen Shot 2020-08-23 at 1 11 55 PM" src="https://user-images.githubus

[2020-08-24 01:53] PatOConnor43 commented on #324
Are you using [diagnostic-nvim](https://github.com/nvim-lua/diagnostic-nvim)? If you are, this setting controls virtual text https://github.com/nvim-lua/diagnostic-nvim#enabledisable-virtual-text . It looks like diagnostic-nvim also has a setting to use underlines. It should be on by default. https://github.com/nvim-lua/diagnostic-nvim#enabledisable-underline .

If you're using ale on it's own I d

[2020-08-24 03:31] tkolleh commented on #324
I am using diagnostic-nvim. The below image was taken using the following settings:

[code]

<img width="856" alt="Screen Shot 2020-08-23 at 11 21 32 PM" src="https://user-images.githubusercontent.com/3095197/91000556-6a08b780-e597-11ea-9f22-09beacdb349c.png">

Note the `ALEDisable` command was ran prior to creating `some_fn`. I was in insert mode while testing with `some_fn` the `g:diagnostic_ins

[2020-08-24 03:44] tkolleh commented on #324
Found the culprit. nvim-treesitter plugin was [highlighting text while I was typing](https://github.com/nvim-treesitter/nvim-treesitter#while-typing-my-code-is-marked-as-red). Adding `highlight link TSError Normal` fixed the mentioned issue.

[2020-08-24 03:44] #324 closed

[2020-08-25 21:37] nabezokodaikon opened #327 "[Question] How to delete a character string that is not related to completion."
# How to delete a character string that is not related to completion.
As shown in the screenshot below, `(${1:x})$` comes after the `drop`. Is it possible to remove it?

<img width="811" alt="スクリーンショット 2020-08-26 6 19 46" src="https://user-images.githubusercontent.com/3197942/91230458-8018a280-e766-11ea-8771-f493d23fbc1e.png">

In addition, since various patterns of character strings are added aft

[2020-08-26 02:22] nabezokodaikon commented on #327
The following settings worked fine.

lsp.lua
[code]

[2020-08-26 02:22] #327 closed

[2020-08-26 15:47] himansingh241 commented on #320
There's a `root_dir` parameter with most of the language servers that you can set to detect root directory.

[2020-08-26 16:54] Kyle-Thompson commented on #320
What would be the syntax to query that? Like with clangd or rust analyzer for example if it's specific to each LS.

I have an understanding of how to set the root directory but I'm still unclear on how to query it's value.

[2020-08-27 05:05] himansingh241 commented on #320
You can do something like this :
[code]

[2020-08-27 05:57] lithammer commented on #320
@himansingh241 you're misunderstanding him. He's asking how query for the _calculated value_ of `root_dir`, not how to set it.

So for example, given this:

[code]

What's the value of `root_dir` when the language server starts in some directory X?

[2020-08-27 08:41] shivahnshankar opened #329 "Closing labels are not displayed in Dart"
- `nvim --version`: NVIM v0.5.0-638-g91109ffda
Build type: Release
LuaJIT 2.1.0-beta3

- nvim-lsp version(commit hash):  Latest version as of today 27-Aug
- `:checkhealth` result

health#targets#check
========================================================================
  - OK: No conflicting mappings found

health#nvim_treesitter#check
==========================================================

[2020-08-28 06:19] himansingh241 commented on #329
I'm also facing the same issue.

[2020-08-29 20:22] tr0b opened #331 "LSP[id=1] client has shut down after sending the message - when opening a haskell (.hs) file"
- `nvim --version`: NVIM v0.5.0-639-g46e74142a-dirty
- nvim-lsp version(commit hash): latest version (executed : PlugUpdate)
- `:checkhealth` result: -> https://pastebin.com/AcenMLg2
- What language server(If the problem is related to a specific language server):
hie - > Haskell IDE Engine
- Operating system/version: Gentoo Linux Kernel  5.3.2
- Terminal name/version: rxvt-unicode
- `$TERM`:xterm-

[2020-08-30 02:41] justinmk commented on #97
updated https://github.com/neovim/nvim-lsp/issues/97#issuecomment-583717327 names to avoid punctuation.

[2020-08-30 04:34] justinmk commented on #331
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 04:34] #331 closed

[2020-08-30 04:54] justinmk commented on #329
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 04:54] #329 closed

[2020-08-30 05:31] tr0b commented on #331
Thank you @justinmk . I've tried configuring the lsp client for hie but it's been difficult for me since I'm an absolute beginner with neovim-lsp. I'll keep trying configuring hie (or maybe attempt to use ghcide) since nvim lsp works really well for other language servers for me, except for a few (Haskell, ruby and go).

[2020-08-30 07:09] justinmk commented on #279
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:09] #279 closed

[2020-08-30 07:13] justinmk commented on #272
i think the main takeaway here is we need better logging/inspection tooling. though narrowing the particular problem here would be good meanwhile

[2020-08-30 07:20] #276 closed

[2020-08-30 07:22] justinmk commented on #273
we pull those settings from vscode or whatever repo is set in `docs.package_json`

https://github.com/neovim/nvim-lspconfig/blob/96976f5ccf92d7f7f76926e360bbe1957bc15392/scripts/docgen.lua#L138

[2020-08-30 07:23] #255 closed

[2020-08-30 07:25] justinmk commented on #266
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:25] #266 closed

[2020-08-30 07:28] justinmk commented on #257
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:28] #257 closed

[2020-08-30 07:34] justinmk commented on #251
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:34] #251 closed

[2020-08-30 07:36] justinmk commented on #225
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:36] #225 closed

[2020-08-30 07:37] justinmk commented on #115
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod

[2020-08-30 07:37] #115 closed

[2020-08-30 07:40] #185 closed

[2020-08-30 07:48] justinmk commented on #250
coc uses vscode (which has many extensions that provide in-process LSP servers). Is there some reason by nvim-lsp could not also use vscode as the LSP server?

[2020-08-30 08:10] justinmk commented on #294
Thanks for your report. The configs here [are best-effort](https://github.com/neovim/nvim-lsp#nvim-lsp):

- If you have an improvement or fix, please send a PR!
- If you have a specific question we'll try to answer it (keeping in mind the configs in this repo are best-effort and unsupported).
- If you found a bug in the core `lsp` module, the best way to get it fixed is to describe steps to reprod